- title(@collection.name, true)

.row
  .title
    = @collection.name

.row
  = render 'shared/columns', my_array: @color_products, item_path: :product_category, partial_path: 'products/shared/product_thumb', n: 4, total_columns: 12
