- title(@title, true)

.row
  .title= @title.mb_chars.upcase.to_s
%hr

.about
  .row
    .columns.grid7.photo1
      = image_tag "quemsomos1.jpg"
    .columns.grid5.column1
      = @content.html_safe
  .row
    .columns.grid5.column2
    .columns.grid7.photo2
      = image_tag "quemsomos2.jpg"