- title("FAQ", true)

.row
	.title PERGUNTAS FREQUENTES
%hr

.row.accordion#accordion2
	- @faqs.each_with_index do |faq, i|
		.accordion-group
			.accordion-heading
				= link_to faq.question, "#collapse#{i}", data: { toggle: 'collapse', parent: '#accordion2' }, class: "accordion-toggle title"
			.accordion-body.collapse.out{id: "collapse#{i}"}
				.accordion-inner
					= faq.answer.html_safe