.home_page
	.row.magazine_part
		.columns.grid7
			-# .home_magazine
			-# 	= link_to Magazine.last do
			-# 		= image_tag @magazine.magazine_pages.first.photo
			#homeCarousel.carousel.slide
				%ol.carousel-indicators
					- (0..(@banners.length - 1)).each do |i|
						%li{ class: ('active' if i == 0), data: { target: '#homeCarousel', :'slide-to' => i.to_s } }
				.carousel-inner
					- @banners.each_with_index do |banner, i|
						.item{ class: ('active' if i == 0) }
							= link_to banner.url do
								= image_tag banner.image.url(:carousel)
				= link_to "&lsaquo;".html_safe, '#homeCarousel', class: 'carousel-control left', data: { slide: 'prev' }
				= link_to "&rsaquo;".html_safe, '#homeCarousel', class: 'carousel-control right', data: { slide: 'next' }
		.columns.grid5
			- @magazine_products.each_with_index do |prod, i|
				- if i%2 == 0
					- thumb_style = "float: left;"
					- info_style = "float: right;"
				- else
					- my_style = "float: right;"
					- info_style = "float: left;"
				.product_thumb
					- url = color_product_path(id: prod.slug)
					.info{style: info_style}
						.title
							= prod.product.name.mb_chars.upcase.to_s
						- desc = prod.product.magazine_description
						- desc = prod.product.description if desc.blank?
						- unless desc.nil?
							.description_content
								= desc.html_safe
						= link_to "Saiba mais", url, class: 'more'
					.position{style: my_style}
						= link_to url do
							.photo
								= image_tag prod.photo.photo.url(:home_thumb)
							.overlay
								.over
									.whitefill
									= link_to url, class: 'bt details' do
										%span.icon.icon-plus
									- unless prod.stock_ammount < 1
										= link_to color_product_cart_color_products_path(prod.id), method: :post, remote: true, class: 'bt add_to_cart' do
											%span.icon.icon-shopping-cart
							.price
								%span= "#{prod.product.parcels}x"
								= number_to_currency prod.product.price / prod.product.parcels
				- unless i == @magazine_products.length - 1
					%hr
		- if @banner
			.banner-right
				= link_to image_tag(@banner.image), @banner.url
				/ = link_to image_tag("BANNERALMOFADAScompl.gif"), "http://www.704home.com.br/categorias/capas-de-almofada"

	.row.ambients_part
		.row.title
			DESTAQUES
			= link_to product_categories_path, class: 'all_posts' do
				ver produtos
				.icon-area
					.icon.icon-th
		%hr
		= render 'shared/columns', my_array: @products.map { |x| x.color_products.includes(:product).includes(:colors).sample(1).first }, item_path: :product_category,  partial_path: 'products/shared/product_thumb', n: 4, total_columns: 12, description: true, no_pagination: true
	.row.blog_part
		.grid4.columns
			.row.title
				INSPIRE-SE
				= link_to PostCategory.find_by_name('Inspire-se'), class: 'all_posts' do
					ver posts
					.icon-area
						.icon.icon-align-justify
			%hr
			.row.blog_info
				.content= @post_inspirese.content.html_safe
				= link_to "Continuar lendo", @post_inspirese, class: 'more'
				- if @post_inspirese.media_type == "Foto"
					= image_tag @post_inspirese.photo.url(:thumb)
				- else
					%iframe{width: "311", height: "311", src: @post_inspirese.media_link, frameborder: "0", allowfullscreen: nil}
		.grid4.columns.diy
			.row.title
				DIY
				= link_to PostCategory.find_by_name('DIY'), class: 'all_posts' do
					ver posts
					.icon-area
						.icon.icon-align-justify
			%hr
			.row.blog_info
				.content= @post_diy.content.html_safe
				= link_to "Continuar lendo", @post_diy, class: 'more'
				- if @post_diy.media_type == "Foto"
					= image_tag @post_diy.photo.url(:thumb)
				- else
					%iframe{width: "311", height: "311", src: @post_diy.media_link, frameborder: "0", allowfullscreen: nil}
		.grid4.columns.arch
			.top
				= link_to club_path, class: "club" do
					.row.title CLUBE 704 HOME
					%hr
					.row.club_704
						%p QUER FAZER PARTE DO NOSSO CLUBE?
						%p Siga o instagram @704home, poste sua foto com #clube704home.
						%p As melhores fotos, com os ambientes mais criativos e bonitos serão selecionadas e entrarão no nosso Blog quinzenalmente. Participe!
			.bottom
				.row.title
					TOQUES DOS EXPERTS
					= link_to architects_path, class: 'all_posts' do
						ver posts
						.icon-area
							.icon.icon-align-justify
				%hr
				.row.architect_info
					= link_to @architect do
						.photo= image_tag @architect.photo.url(:thumb)
						.content= @architect.posts.last.content.html_safe
						.more= "Continuar lendo"
