- title(@title, true)

.row
  .title= @title.mb_chars.upcase.to_s
%hr

.row.just_text
  - if request.path == promotion_rules_path
    %p O dia do amigo está chegando e nada melhor do que fazer uma grande homenagem para quem está do seu lado sempre, em todas as horas da sua vida!
    %p Então, mande para a gente a melhor frase que define a amizade de vocês, junto com o nome e uma foto de vocês até o dia 19/07/2015.
    %p A melhor homenagem aparecerá em todas as nossas redes sociais – facebook, instagram e pinterest – e ainda ganhará duas duplas do jogo americano Collage, que quando colocadas juntas, formam um lindo circulo, que representa exatamente a amizade!
    %p E tem mais: Os ganhadores receberão uma consultoria gratuita de como deixar a casa arrumada, sem gastar muito!
    %P Vocês ainda terão motivos de sobra para se reunir para comer uma pizza, um fondue, tomar um bom vinho ou, simplesmente, beber um chopp com petiscos, em grande estilo!
  - else
    = @content.html_safe

- if @insta_photos.present?
  .row.insta-photos
    - urls = []
    - big_urls = []
    - @insta_photos.each do |p|
      - tags = ['clube704home']
      - tags.each do |t|
        - if p['tags'].include? t and not urls.include? p['images']['low_resolution']['url'] and urls.length < 8
          - urls.push p['images']['low_resolution']['url']
          - big_urls.push p['link']

    .grid12
      - counter = -1
      - urls.each_slice(4) do |group|
        - counter += 1
        .row
          - group.each_with_index do |url, i|
            .columns.grid3
              = link_to big_urls[(counter*4) + i], target: '_blank' do
                = image_tag url
                .overlay-area
