- title "704 NA MÍDIA"

.row
  .title 704 na Mídia
%hr

.presses-index
  - (@presses).each_slice(4) do |presses|
    .row
    - presses.each do |press|
      .grid3.columns
        = link_to press, class: 'modal-render-link', remote: true do
          = image_tag press.photo.url(:thumb)
