.title= "JÁ É CLIENTE 704 HOME"
= simple_form_for(resource, :as => resource_name, :url => "#{session_path(resource_name)}?after_login_path=#{params[:after_login_path]}&after_login_method=#{params[:after_login_method]}", remote: true) do |f|
	= f.text_field :email, placeholder: "digite seu email"
	= f.password_field :password, placeholder: "digite sua senha"
	= f.button :submit, "LOGIN"

= link_to "esqueci minha senha", new_user_password_path, class: 'modal-render-link modal-link-to-modal', remote: true, id: 'forgot_password_link', data: { width: "400px" }

%p Você também pode se logar na 704 HOME via facebook. Basta clicar no botão abaixo.
= link_to '#', class: 'inline-block facebook-login', data: { link: user_omniauth_callback_path('facebook') } do
	%p Conectar
	%span.icon-facebook

= javascript_include_tag 'header/set_facebook_connect_buttons'
