= semantic_form_for [:admin, @faq] do |f|
  = f.inputs do
    = f.input :question
    = f.input :answer

  = f.actions

= stylesheet_link_tag "post_form", media: 'all'
= javascript_include_tag "//tinymce.cachefly.net/4.0/tinymce.min.js"
= javascript_include_tag "admin/rich_editor_extra_info"