- title("#{@color_product.humanized_name}", true)

.row
	.title
		- if @category.class.to_s.downcase == 'subambient'
			= link_to 'Ambientes'.mb_chars.upcase.to_s, ambients_path
			= link_to "/ #{@category.ambient.name.to_s.capitalize}".mb_chars.upcase.to_s, @category.ambient
			= link_to "/ #{@category.name.to_s.capitalize}".mb_chars.upcase.to_s, [@category.ambient, @category]
		- else
			= link_to 'Produtos'.mb_chars.upcase.to_s, product_categories_path
			- if @category.present?
				= link_to "/ #{@category.name.to_s.capitalize}".mb_chars.upcase.to_s, @category
		= link_to "/ #{@color_product.product.name.capitalize}".mb_chars.upcase.to_s
%hr
.row.product_body
	.grid8.columns
		.row.big_photo
			- if @category.class.to_s.downcase == 'subambient'
				= image_tag @color_product.photo(true).photo.url(:medium)
			- else
				= image_tag @color_product.photo.photo.url(:medium)
			.hover
		- if @color_product.photos.length > 1
			.row.small_photos
				- @color_product.photos.each do |photo|
					.small_photo
						= image_tag photo.photo.url(:show_thumb)
						= hidden_field_tag :medium, photo.photo.url(:medium)
						= hidden_field_tag :big, photo.photo.url(:big)
		- if @color_product.product.specification.present?
			.row
				%p.spec_title ESPECIFICAÇÃO TÉCNICA
				.spec= @color_product.product.specification.html_safe

	.grid4.columns.right_product
		.top
			.name= @color_product.product.name.mb_chars.upcase.to_s
			- if @color_product.product.description.present?
				.description= @color_product.product.description.html_safe
			.down_part
				- if @color_product.stock_ammount > 0
					= link_to color_product_cart_color_products_path(@color_product.id, ammount: 1), method: :post, remote: true, class: 'add_to_cart' do
						.bt
							%span.icon-shopping-cart
						%span.add_text ADICIONAR AO CARRINHO
					.price
						- if @color_product.product.promotion?
							%span de
							%span{ style: "text-decoration: line-through;" }= "#{number_to_currency @color_product.product.no_promotion_price}"
							%span por
						.big
							- if @color_product.product.parcels > 1
								.times= "#{@color_product.product.parcels}x "
							.value= "#{number_to_currency @color_product.product.price / @color_product.product.parcels}"
						- if @color_product.product.parcels > 1
							.small= "À vista #{number_to_currency @color_product.product.price}".mb_chars.upcase.to_s
				- if @color_product.stock_ammount > 0
					.my_select.ammount_select
						.selected 01
						.options
							- max = @color_product.stock_ammount
							- max = 6 if max > 6
							- (1..max).each do |i|
								.option= "0#{i}"
						.custom_select
						.info.ammount_info
							%p Escolha a quantidade.
							%p= "Quantidade em estoque: #{@color_product.stock_ammount}"
				- else
					%p.no_stock Produto Esgotado
				.my_select.color_select
					- if @color_product.product.color_products.length > 1
						.selected{style: 'width: 67%'}
							- @color_product.colors.each do |color|
								.color{style: "background-color: #{color.code}"}
						.options
							- @color_product.product.color_products.each do |cp|
								= link_to cp, class: 'color_option' do
									- cp.colors.each do |color|
										.color{style: "background-color: #{color.code}"}
						.custom_select
						.info.color_info
							%p Escolha cor.
							%p= "Cor selecionada: #{@color_product.colors.map { |x| x.name }.join(' ')}"
					- else
						.selected
							- @color_product.colors.each do |color|
								.color{style: "background-color: #{color.code}"}
						.info.color_info
							%p= "Cor selecionada: #{@color_product.colors.map { |x| x.name }.join(' ')}"
				- if @color_product.stock_ammount > 0
					= link_to 'COMPRAR', color_product_cart_color_products_path(@color_product.id, ammount: 1), method: :post, remote: true, class: 'buy_bt'
					%p= "Cobramos frete. Entrega em até #{ExtraInfo.first.delivery_time} dias úteis para o Rio de Janeiro e #{ExtraInfo.first.delivery_time_out_of_state} dias úteis para fora do Rio de Janeiro."
				= render 'shared/share'
			.zoom_photo
				- if @category.class.to_s.downcase == 'subambient'
					= image_tag @color_product.photo(true).photo.url(:big)
				- else
					= image_tag @color_product.photo.photo.url(:big)
			.pag_seguro
				= image_tag 'pagseguro.png'

- if @color_product.follows.length > 0
	.row
		.title COMBINA COM
	%hr{style: "margin-bottom: 25px"}
	- @products = @color_product.follows.map { |x| x.followable }.reject { |x| x.color_product_photos.blank? }.sample(4)
	- @path = ''
	- if @category.class.to_s.downcase == 'ambient'
		- @path = :ambient
	- else
		- @path = :product_category
	.row
		= render 'shared/columns', my_array: @products, item_path: @path, partial_path: 'products/shared/product_thumb', n: 4, total_columns: 12, no_pagination: true
