%table{data: { year: year.to_i, month: month.to_i }}
	%tr
		%th D
		%th S
		%th T
		%th Q
		%th Q
		%th S
		%th S
	- first_day = DateTime.new(year.to_i, month.to_i)
	- dif = (first_day - first_day.beginning_of_week.yesterday).to_i
	- dif = 0 if dif == 7
	- (0..dif + Time.days_in_month(month.to_i, year.to_i) - 1).each_slice(7) do |s|
		%tr
			- s.each do |i|
				- if i < dif
					%td
				- else
					- n = i - dif + 1
					- if current_date.present? and n == current_date
						%td.current= n
					- else
						- architect_id ||= nil
						- if DateTime.new(year.to_i, month.to_i, n) <= Date.current
							- day_posts = Post.where(architect_id: architect_id, post_category_id: post_category_id).select { |x| x.date.year == year.to_i and x.date.month == month.to_i and x.date.day == n }
							- if day_posts.present?
								%td
									= link_to n, day_posts.first
							- else
								%td= n
						- else
							%td= n
