- no_pagination ||= false

- unless no_pagination
  = paginate my_array

- ambient_area ||= false
- description ||= false
- my_array.each_slice(n) do |items|
  .row
    - items.each do |item|
      .columns{class: "grid#{12/n}"}
        = render partial_path, item.class.to_s.downcase.to_sym => item, item_path: item_path, description: description, ambient_area: ambient_area

- unless no_pagination
  = paginate my_array