- unless @current_comments.empty?
	.old_comments_area
		.comments_title COMENTÁRIOS
		- @current_comments.each do |comment|
			.title= comment.name
			.comment_content= comment.content
			%hr

.new_comments_area
	.comments_title DEIXE SEU COMENTÁRIO
	= semantic_form_for Comment.new, remote: true do |f|
		.inline_inputs
			= f.input :name, label: false, placeholder: "digite seu nome", class: 'teste'
			= f.input :email, label: false, placeholder: "digite seu e-mail"
		= f.input :content, label: false, placeholder: "digite seu comentário"
		= f.input :url, as: :hidden, value: request.path
		= f.action :submit, label: "Comentar".mb_chars.upcase.to_s
.commented_message
	%p= "Obrigado pelo comentário."