.footer
	.row
		.column.grid4
			.title= 'CONTATO'
			%hr
			.contact
				= form_for EmailMessage.new, url: contact_path do |f|
					= f.text_field :name, placeholder: 'digite seu nome'
					= f.text_field :email, placeholder: 'digite seu e-mail'
					= f.text_area :body, placeholder: 'digite sua mensagem'
					= f.submit "ENVIAR"
		.column.grid4.offset4
			.title= 'DEPOIMENTOS'
			.testimonial
				%hr
				- Testimonial.all.sample(3).each do |t|
					.test_content= "\"#{t.content}\""
					.test_author= t.name
	.row
		.column.grid4.multibrand
			= link_to new_multibrand_path, class: 'column grid4 multibrand' do
				.title= 'MULTIMARCAS'
				%hr
				%p= ExtraInfo.first.multibrand.html_safe
		.column.grid4.offset4.sitemap
			.title= 'MAPA DO SITE'
			%hr
			.links_left
				= link_to "Quem somos", about_path
				= link_to "Ambientes", ambients_path
				= link_to "Inspire-se", PostCategory.find_by_name('Inspire-se')
				= link_to "DIY", PostCategory.find_by_name('DIY')
				= link_to "Toques dos Experts", architects_path
				-# = link_to "Revista 704 NOW", Magazine.last
				= link_to "Regulamento Promocional", promotion_rules_path
			.links_right
				= link_to "Clube 704 Home", club_path
				- if Press.count > 0
					= link_to "704 na Mídia", presses_path
				= link_to "B2B", new_b2b_path
				= link_to "Política de Troca", trade_path
				/ = link_to "Onde Comprar", '#'
				= link_to "Seguranças e Privacidade", privacy_path
				= link_to "FAQ", faq_path
				/ = link_to "Glossário", '#'
	.row.endereco= "#{ExtraInfo.first.address}".mb_chars.upcase.to_s
	.row.endereco{ style: "margin-top: 0" }= "#{ExtraInfo.first.phone}".mb_chars.upcase.to_s
.fullsizewhite
	= "Todos os direitos direitos reservados #{ExtraInfo.first.business_name} - #{DateTime.now.year} | CNPJ: #{ExtraInfo.first.cnpj}"
	#siteseal
		%script{src: "https://seal.godaddy.com/getSeal?sealID=tOnguwzLAK5BItmqZzbfuAEmel0THQM3dSRPLtIgNBhmQLRZp8fZoSGPXon", type: "text/javascript"}
