.row
	.pull-right.secondary-login-links
		- if user_signed_in?
			.logged-in
				%span.icon-user
				%p.inline-block= "Olá, "
				%p.inline-block.bold= "#{current_user.name.mb_chars.upcase.to_s}"
				.header_logged_links_box
					= link_to "EDITAR", edit_user_registration_path, class: 'modal-render-link', remote: true, id: 'edit_account_link', data: { width: "400px" }
					%p.inline-block= "|"
					= link_to "SAIR", destroy_user_session_path, method: :delete
		- else
			= link_to "esqueci minha senha", new_user_password_path, class: 'inline-block modal-render-link', remote: true, id: 'forgot_password_link'
			%p.inline-block= "|"
			= link_to "CADASTRO", new_user_registration_path, class: 'inline-block bold modal-render-link', remote: true, id: 'sign_up_link'
.row
	.pull-left.align-bottom
		= simple_form_for Newsletter.new, remote: true, html: { class: 'form-inline inline-block'} do |f|
			.input-append
				= f.email_field :email, placeholder: 'digite seu email e receba nossa newsletter'
				= button_tag type: 'submit', class: 'append' do
					%span.icon-envelope
	.pull-right.align-bottom
		- if user_signed_in?
			.logged-in
				.menu-row
					%ul
						= hidden_field_tag :current, '-1'
						%li
							%span.icon.icon-truck
							= link_to "Meus Pedidos", carts_user_path(current_user)
						%li
							= link_to cart_path(current_cart), class: 'cart-link-logged-in' do
								%span.icon.icon-shopping-cart
								Carrinho
								%span.cart-totals= "#{current_cart.total_items} ite#{current_cart.total_items == 1 ? 'm' : 'ns'}"
		- else
			= simple_form_for 'user', url: user_session_path, html: { class: 'form-inline inline-block' }, remote: true, format: :json, data: { flash: 'modal' } do |f|
				= f.email_field :email, placeholder: "digite seu e-mail"
				.input-append
					= f.password_field :password, placeholder: "digite sua senha"
					= button_tag type: 'submit', class: 'append' do
						%span.icon-lock
			= link_to '#', class: 'inline-block facebook-login', data: { link: user_omniauth_callback_path('facebook') } do
				%p Conectar
				%span.icon-facebook
			= link_to cart_path(current_cart), :class => 'cart-link-not-logged' do
				%span.icon.icon-shopping-cart
				%span.cart-link-title Carrinho
				%span.cart-totals= "#{current_cart.total_items} ite#{current_cart.total_items == 1 ? 'm' : 'ns'}"
.row
	%hr
.row.logo-row
	.pull-left
		= link_to "https://www.facebook.com/704home", target: "_blank" do
			.social-network
				%span.icon-facebook
		= link_to "http://instagram.com/704home", target: "_blank" do
			.social-network
				%span.icon-instagram
		= link_to "http://www.pinterest.com/704home/inspira%C3%A7%C3%B5es/", target: "_blank" do
			.social-network
				%span.icon-pinterest
		= link_to "http://www.youtube.com/channel/UCi0KH_BZnNucvnXXZPjIbXg", target: "_blank" do
			.social-network
				%span.icon-youtube
	.align-center
		= link_to root_path do
			= image_tag "logo#{rand(1..3)}.png"
.row.menu-row
	.search_area
		= form_tag search_products_path, method: 'get' do
			= text_field_tag :search, params[:search], placeholder: "Digite sua busca"
			= button_tag(type: "submit", class: "search-button") do
				%span.icon.icon-search
		%button.search-button.color-search
			%span.icon.icon-magic

	%ul.menu-slider
		= hidden_field_tag :current, 0
		%li= link_to "Home".mb_chars.upcase.to_s, root_path
		%li
			.btn-group
				= link_to "Produtos".mb_chars.upcase.to_s, product_categories_path
				%ul.drop-menu
					- ProductCategory.all.sort_by { |x| x.name }.each do |cat|
						%li= link_to cat.name.mb_chars.upcase.to_s, cat
		%li= link_to "Quem Somos".mb_chars.upcase.to_s, about_path
		%li
			.btn-group
				-# = link_to "Ambiente".mb_chars.upcase.to_s, ambients_path
				= link_to "Ambientes".mb_chars.upcase.to_s, ambients_path
				%ul.drop-menu
					- Ambient.all.sort_by { |x| x.name }.each do |amb|
						%li= link_to amb.name.mb_chars.upcase.to_s, amb
		%li= link_to "Inspire-se".mb_chars.upcase.to_s, PostCategory.find_by_name('Inspire-se')
		%li= link_to "DIY".mb_chars.upcase.to_s, PostCategory.find_by_name('DIY')
		%li= link_to "Toques dos Experts".mb_chars.upcase.to_s, architects_path
		-# %li= link_to "Revista".mb_chars.upcase.to_s, Magazine.last
		%li= link_to "Clube 704 Home".mb_chars.upcase.to_s, club_path
		- if Press.count > 0
			%li= link_to "704 na Mídia".mb_chars.upcase.to_s, presses_path
	%hr
	.slider
.row.sub-menu-row

-# .row.color-row
-# 	- n = Math.sqrt(@colors.length).round.to_i
-# 	.color-select{style: "width: #{80 * n}px; margin-left: #{-80 * n}px"}
-# 		- counter1 = 0
-# 		- @colors.each_slice(n) do |colors|
-# 			- counter = 0
-# 			.row{ id: "color#{counter1}" }
-# 				- counter1 += 1
-# 				- colors.each do |color|
-# 					.columns{ class: "grid#{(12/n)}" }
-# 						= link_to color_search_products_path(color_id: color.id) do
-# 							.color{ style: "background-color: #{color.code};", id: "color#{counter}"}
-# 								.hover-color
-# 							- counter += 1


.row.color-row
	.color-select
		.color-box
			- @colors.each_slice(6) do |colors|
				- while colors.length < 6
					- colors.push nil
				.columns.grid1.pull-right
					- colors.each do |color|
						- if color.nil?
							.no-color
								%span X
						- else
							= link_to color_search_products_path(color_id: color.id) do
								.color{ style: "background-color: #{color.code};" }
									.hover-color
= javascript_include_tag 'header/set_facebook_connect_buttons'
