- photos.each_with_index do |pho, i|
	- if i < 4 or show_all
		- if pho.class == String
			= image_tag pho, class: "admin_thumb"
		- elsif pho.present?
			= image_tag pho.photo.url(:thumb), class: "admin_thumb"
	- else
		%span.extra= "(+#{photos.length - i})"
		- break