#modal.modal.hide.fade{tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'myModalLabel', :'aria-hidden' => 'true'}
	%button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
		%p &times;
	.modal-body


#img-modal.modal.hide.fade{tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'myModalLabel', :'aria-hidden' => 'true'}
	%button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
		%p &times;
	.modal-body
