= f.inputs "Página #{i.to_i + 1}", class: 'inputs page' do
	%button.remove_page Remove page
	- if page.nil?
		.page_photo
			.left
				%img
				= hidden_field_tag :photo
			.right
				.droppable_element
					= image_tag 'marker.png'
					.hover= image_tag 'marker_hover.png'
				%p Arraste para colocar referências
				= f.input :product, as: :select, collection: options_from_collection_for_select(@color_products, "id", "slug")
				= f.input :website, as: :string
	- else
		.page_photo{style: 'position: relative;'}
			.left
				= image_tag page.photo
				= hidden_field_tag "photo#{i}".to_sym, page.photo
				= f.input :product, as: :select, collection: options_from_collection_for_select(@color_products, "id", "slug")
				= f.input :website, as: :string
			.right
				.droppable_element
					= image_tag 'marker.png'
					.hover= image_tag 'marker_hover.png'
				%p Arraste para colocar referências
				- page.references.each_with_index do |ref, j|
					.droppable_element.added{style: "position: absolute;"}
						= image_tag 'marker.png'
						.hover= image_tag 'marker_hover.png'
					= hidden_field_tag "posX#{i}#{j}", ref.pos_x
					= hidden_field_tag "posY#{i}#{j}", ref.pos_y
					%li.select.input.optional{id: "magazine_product_input#{i}#{j}"}
						= label_tag "product#{i}#{j}".to_sym, "Produto #{j + 1}"
						= select_tag "product#{i}#{j}".to_sym, options_from_collection_for_select(@color_products, "id", "name", ref.product_id.to_i), prompt: ''
						%br
						= label_tag "website#{i}#{j}".to_sym, "Website #{j + 1}"
						= text_field_tag "website#{i}#{j}".to_sym, ref.website
