.share-bt#share-twitter
	%span.icon.icon-twitter
	Tweet
.share-bt#share-fb
	%span.icon.icon-thumbs-up
	Like
.share-bt#share-google
	%span.icon.icon-google-plus
.share-bt#share-pinterest
	%span.icon.icon-pinterest