#thanks-modal.modal.hide.fade{tabindex: '-1', role: 'dialog', :'aria-labelledby' => 'myModalLabel', :'aria-hidden' => 'true'}
  %button.close{type: 'button', :'data-dismiss' => 'modal', :'aria-hidden' => 'true'}
    %p &times;
  .modal-body
    .row.thanks
      .grid12.columns
        .padding40
          .title= "OBRIGADO POR COMPRAR CONOSCO"
          %hr
          %p Sua compra foi efetuada com sucesso.
          - if @payment.payment_method == 'creditCard'
            %p Seu cartão está em processo de aprovação e assim que for aprovado enviaremos seu produto.
          - elsif @payment.payment_method == 'boleto'
            %p
              Caso o seu boleto não tenha aberto automaticamente em outra aba do seu navegador, o link para acessar e imprimir é
              = link_to @payment.payment_link, @payment.payment_link, style: 'word-wrap: break-word;', target: '_blank'
            %p Assim que confirmarmos o recebimento do pagamento enviaremos seu produto.
            :javascript
              window.open("#{@payment.payment_link}")


:javascript
  $('#thanks-modal').modal();
