- title "Magazines"

.row
  .title Outras edições
%hr{ style: "margin-bottom: 50px;"}

.magazine-other-editions
  - @magazines.each_slice(4).each do |mags|
    .row
      - mags.each do |mag|
        .grid3.columns
          = link_to mag.pdf_file.url do
            = image_tag mag.magazine_pages.first.photo

/ .row
/   .grid12.columns
/     .row
/       .grid6.columns
/         %b Edição
/       .grid6.columns
/         %b Download
/     - for magazine in @magazines
/       %hr
/       .row
/         .grid6.columns
/           = "EDIÇÃO N˚ #{Magazine.all.index { |x| x.id == magazine.id} + 1}"
/         .grid6.columns
/           = link_to 'Arquivo PDF', magazine.pdf_file.url