- title("Revista 704home", true)

.row
	.title= "REVISTA 704NOW - EDIÇÃO N˚ #{Magazine.all.index { |x| x.id == @magazine.id} + 1}"
%hr
.magazine_page
	.row.extra_options
		= link_to @magazine.pdf_file.url, target: '_blank', class: 'download_pdf' do
			= "DOWNLOAD PDF"
			.icon.icon-download-alt
		= link_to magazines_path, class: 'other_magazines' do
			= "OUTRAS EDIÇÕES"
			.icon.icon-th
	.row
		%table
			%tr
				%td.arrow-left
					%span.icon.icon-angle-left
				%td.magazine_cell
					.page_container
						- @magazine.magazine_pages.includes(:references).each_with_index do |page, i|
							.magazine_page_unit{ style: "#{'left: 860px;' if i > 0}", class: "#{'current' if i == 0}" }
								= image_tag page.photo
								- page.references.each do |ref|
									.pin{style: "left: #{ref.pos_x * 860}px; top: #{ref.pos_y * 600}px", data: { id: ref.product_id }}
										- if ref.product?
											= link_to ref.color_product do
												.pin-default= image_tag "marker.png"
												.pin-hover= image_tag "marker_hover.png"
										- else
											= link_to ref.website, target: '_blank' do
												.pin-default= image_tag "4_pin.png"
												.pin-hover= image_tag "5_pin.png"
				%td.arrow-right
					%span.icon.icon-angle-right
.row.magazine_pages
	- @magazine.magazine_pages.includes(:references).each_with_index do |pg, i|
		%button.page_thumb{data: { id: i }}
			= image_tag pg.photo
			- pg.references.each do |ref|
				.pin{style: "left: #{ref.pos_x * 860}px; top: #{ref.pos_y * 600}px", data: { id: ref.product_id }}
