= semantic_form_for [:admin, @magazine] do |f|
	= f.inputs "Detalhes" do
		= f.input :collection
		= f.input :pdf_file
	#model
		= show_page f
	- @magazine.magazine_pages.includes(:references).each_with_index do |pg, i|
		= show_page f, pg, i
	#paginas
	= f.inputs "Adicionar Páginas" do
		= f.s3_file_field :photo, class: 'js-s3_file_field'
		.progress
			.meter{ style: "width: 0%;" }
	= f.actions
