= semantic_form_for [:admin, @post], class: "teste" do |f|
	= f.inputs "Informações básicas" do
		= f.input :author
		= f.input :date, as: :date_picker
		= f.input :post_category
		= f.input :architect
		= f.input :title
		= f.input :media_type, as: :select, collection: ["Foto", "Vídeo"]
		= f.input :photo, wrapper_html: { class: "#{'no-display' if f.object.photo.blank? or f.object.media_type == 'Vídeo'}" }
		= f.input :media_link, wrapper_html: { class: "#{'no-display' if f.object.media_link.blank? or f.object.media_type == 'Foto'}" }
	= f.input :content
	= f.actions

= stylesheet_link_tag "post_form", media: 'all'
= javascript_include_tag "//tinymce.cachefly.net/4.0/tinymce.min.js"
= javascript_include_tag "admin/rich_editor"