.row
  .title Meus pedidos
%hr
.row
  .grid12.columns.carts-index
    - if @carts.empty?
      %p Você não possui nenhum pedido.
    - else
      %table
        %thead
          %tr
            %th Data do Pagamento
            %th Data do Fechamento
            %th Tracking ID
        %tbody
          - @carts.each do |cart|
            %tr
              %td= cart.payment_date ? cart.payment_date.strftime('%d/%m/%Y às %H:%M') : 'Aguardando confirmação do pagamento'
              %td
                - if cart.payments.any?
                  = cart.payments.last.created_at.strftime('%d/%m/%Y às %H:%M')
                - elsif cart.payment_date.present?
                  = cart.payment_date.strftime('%d/%m/%Y às %H:%M')
              %td
                - if cart.shipping_code.nil?
                  = "Seu pedido está sendo processado."
                - else
                  = link_to "Acompanhar Pedido", "http://www.jall.com.br/web/rastreamento.jsp?contrato= 4071&cliente= 3150&num_enc_cli=#{cart.shipping_code}", target: '_blank'
