- title("Meu carrinho", true)

.row
	.title Carrinho
%hr
.row
	%table.cart
		- @cart.cart_color_products.each do |cp|
			%tr{data: { id: cp.id }}
				%td= image_tag cp.color_product.photo.photo.url(:home_thumb)
				%td= link_to cp.color_product.humanized_name, cp.color_product
				%td
					- unless cp.ammount < 2
						= link_to color_product_cart_color_products_path(color_product_id: cp.color_product_id, ammount: -1), method: :post, class: 'ammount-changer' do
							%span.icon.icon-minus-sign
					- else
						%span.icon.icon-minus-sign.disabled-icon
					%span= "#{cp.ammount} #{cp.ammount == 1 ? 'unidade' : 'unidades'}"
					= link_to color_product_cart_color_products_path(color_product_id: cp.color_product_id, ammount: 1), method: :post, class: 'ammount-changer' do
						%span.icon.icon-plus-sign
				%td.ammount
					%span= "#{number_to_currency(cp.unit_price * cp.ammount)}"
				%td.delete
					= link_to 'excluir', color_product_cart_color_product_path(cp.color_product, cp), method: :delete, class: 'delete_from_cart'
					.bg
.row.total.discount-price
	%span= "Desconto ".mb_chars.upcase.to_s
	%span.total_price= "#{number_to_currency(@cart.discount)}"
-# .row.total.discount-price
-# 	%span= "Frete ".mb_chars.upcase.to_s
-# 	%span.total_price= "#{number_to_currency(@cart.shipping)}"
.row.total
	%span= "Total ".mb_chars.upcase.to_s
	%span.total_price= "#{number_to_currency(@cart.total_price + @cart.shipping)}"
.row.continue
	.row.buy
		= semantic_form_for Coupon.new do |f|
			= f.submit "Adicionar cupom", class: 'buy_bt'
			= f.input :code
- if user_signed_in?
	- if current_user.cpf.present?
		.row.continue
			= link_to 'Continuar comprando', product_categories_path, class: 'buy_bt'
		.row.buy
			-# = semantic_form_for current_user, url: payments_path, method: :post, remote: true, html: { id: 'buy-bt-form' } do |f|
			-# 	= f.submit 'Finalizar compra', class: 'buy_bt yellow-button'
			-# 	%label.gift Para presente?
			-# 	%input.gift{ type: "checkbox", name: "gift", id: "gift", checked: current_user.active_cart.gift }
			= link_to 'Finalizar compra', new_payment_path, class: 'buy_bt yellow-button'
		-# .row.advice
		-# 	= image_tag 'buy-pagseguro.png'
	- else
		.row.continue
			= link_to 'Continuar comprando', product_categories_path, class: 'buy_bt'
		.row.buy
			= link_to 'Completar cadastro', edit_user_registration_path(after_login_path: request.url), :class => 'modal-render-link buy_bt', remote: true
		.row.advice
			= image_tag 'no-cpf.png'
- else
	.row.continue
		= link_to 'Continuar comprando', product_categories_path, class: 'buy_bt'
	.row
		-# = link_to 'Login / Cadastrar', new_user_registration_path(after_login_path: request.url), :class => 'login-to-buy modal-render-link', remote: true
		= link_to 'Finalizar compra', new_user_registration_path(after_login_path: new_payment_path, after_login_method: 'get'), :class => 'login-to-buy modal-render-link yellow-button', remote: true
	.row.advice
		= image_tag 'login-to-buy.png'

- if params[:after_login_path].present? and params[:after_login_method] == 'post'
	:javascript
		$(document).ready(function() {
			$('form#buy-bt-form').find('.buy_bt.yellow-button').click();
		});
