- title("Ambientes", true)

.row
	.title
		= link_to "Ambientes".mb_chars.upcase.to_s, ambients_path
		- unless @ambient.nil?
			= link_to "/ #{@ambient.name}".mb_chars.upcase.to_s, @ambient
		- unless @sub_ambient.nil?
			= link_to "/ #{@sub_ambient.name}".mb_chars.upcase.to_s, [@ambient, @sub_ambient]
%hr
.row
	%ul.ambient_sub_menu
		- @ambients.sort_by { |x| x.name }.each_with_index do |amb, i|
			- if @ambient.present? and amb.id == @ambient.id
				%li
					= link_to amb.name.mb_chars.upcase.to_s, amb, class: 'selected'
					- if i < @ambients.length - 1
						.divider
			- else
				%li
					= link_to amb.name.mb_chars.upcase.to_s, amb
					- if i < @ambients.length - 1
						.divider
- if @ambient.present?
	.row
		.grid3.columns
			%ul.sub_menu
				- @ambients.sort_by { |x| x.name }.each do |amb|
					- amb.sub_ambients.each do |sub_amb|
						- if @sub_ambient.present? and sub_amb.id == @sub_ambient.id
							%li= link_to sub_amb.name.mb_chars.upcase.to_s, [amb, sub_amb], class: 'selected'
						- else
							%li= link_to sub_amb.name.mb_chars.upcase.to_s, [amb, sub_amb]
		.grid9.columns
			= render 'shared/columns', my_array: @color_products, item_path: :sub_ambient,  partial_path: 'products/shared/product_thumb', n: 3, total_columns: 9, ambient_area: true
- else
	.row
		= render 'shared/columns', my_array: @color_products, item_path: :sub_ambient,  partial_path: 'products/shared/product_thumb', n: 4, total_columns: 12, ambient_area: true
