- ambient_area ||= false
- url = ''
- if item_path == :product_category
	- if colorproduct.product.product_category.present?
		- url = color_product_path(id: colorproduct.slug, product_category_id: colorproduct.product.product_category.id)
	- else
		- url = color_product_path(id: colorproduct.slug)
- else
	- url = color_product_path(sub_ambient_id: colorproduct.product.sub_ambient_id, id: colorproduct.slug)
= link_to url do
	.product_thumb
		.photo
			= image_tag colorproduct.photo(ambient_area).photo.url(:thumb)
		.overlay
			.over
				.whitefill
				= link_to url, class: 'bt details' do
					%span.icon.icon-plus
				- unless colorproduct.stock_ammount < 1
					= link_to color_product_cart_color_products_path(colorproduct.id), method: :post, remote: true, class: 'bt add_to_cart' do
						%span.icon.icon-shopping-cart
		.price
			- if colorproduct.product.promotion?
				%span de
				%span{ style: "text-decoration: line-through;" }= "#{number_to_currency colorproduct.product.no_promotion_price}"
				%span por
			- if colorproduct.product.parcels > 1
				%span= "#{colorproduct.product.parcels}x"
			= number_to_currency colorproduct.product.price / colorproduct.product.parcels
		.name{ style: "height: 30px;" }
			= colorproduct.humanized_name.mb_chars.upcase.to_s
		-# - if description
		-# 	.description
		-# 		= colorproduct.product.description.html_safe
