%hr
.title= "Sobre a Marca"
%hr
%p= "Nome: #{@multibrand.brand_name}"
%p= "Razão Social: #{@multibrand.business_name}"
%p= "CNPJ: #{@multibrand.cnpj}"
%p= "Telefone: #{@multibrand.business_phone}"

%hr
.title= "Sobre o Contato"
%hr
%p= "E-mail: #{@multibrand.contact_email}"
%p= "Nome: #{@multibrand.contact_name}"
%p= "Telefone: #{@multibrand.contact_phone}"

%hr
.title= "Sobre o Endereço"
%hr
%p= "Endereço: #{@multibrand.address}"
%p= "Cidade: #{@multibrand.city}"
%p= "Bairro: #{@multibrand.neghborhood}"
%p= "Estado: #{@multibrand.state}"
%p= "CEP: #{@multibrand.zip_code}"