%hr
.title= "Sobre a Marca"
%hr
%p= "Nome: #{@b2b.brand_name}"
%p= "Razão Social: #{@b2b.business_name}"
%p= "CNPJ: #{@b2b.cnpj}"
%p= "Telefone: #{@b2b.business_phone}"

%hr
.title= "Sobre o Contato"
%hr
%p= "E-mail: #{@b2b.contact_email}"
%p= "Nome: #{@b2b.contact_name}"
%p= "Telefone: #{@b2b.contact_phone}"