- title(@product_category.nil? ? "Produtos" : @product_category.name, true)

.row
	.title
		= link_to "Produtos".mb_chars.upcase.to_s, product_categories_path
		- unless @product_category.nil?
			= "/ #{@product_category.name}".mb_chars.upcase.to_s
%hr
.row
	.grid3.columns
		%ul.sub_menu
			- @product_categories.sort_by { |x| x.name }.each do |cat|
				- if cat.products.present?
					- if @product_category.present? and cat.id == @product_category.id
						%li= link_to cat.name.mb_chars.upcase.to_s, cat, class: 'selected'
					- else
						%li= link_to cat.name.mb_chars.upcase.to_s, cat
	.grid9.columns
		= render 'shared/columns', my_array: @color_products, item_path: :product_category,  partial_path: 'products/shared/product_thumb', n: 3
