%p= "O estoque de #{@color_product.product.name} na cor #{@color_product.color.name} está baixo."
%p= "No momento existem #{@color_product.stock_ammount} no estoque."

%p Clique no link abaixo para visualizar o produto.

= link_to "Ver produto", @color_product

%p Por favor não responda este e-mail, ele é automático.