- title("Pagamento", true)

.row
  .title Pagamento
%hr

- if PAGSEGURO_SANDBOX
  = javascript_include_tag "https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"
- else
  = javascript_include_tag "https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"

-# = javascript_include_tag "https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"
= javascript_include_tag "pagseguro-checkout-transparente"
= javascript_include_tag "shipping"

.hidden#pagseguro-session-id{ data: { session: { id: @pagseguro_session['session']['id'] } } }

.hidden#cart-total{ data: { cart: { total: current_cart.full_total_price.round(2) } } }

= semantic_form_for @payment do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs 'Informações do Comprador' do
    = f.input :sender_hash, as: :hidden
    = f.input :sender_name
    = f.input :sender_cpf, input_html: { maxlength: '13' }
    = f.input :sender_area_code, input_html: { maxlength: '2' }
    = f.input :sender_phone, input_html: { maxlength: '10' }

  = f.inputs 'Endereço de Entrega' do
    = f.input :shipping_address_postal_code, input_html: { maxlength: '10' }
    = f.input :shipping_address_street
    = f.input :shipping_address_number
    = f.input :shipping_address_complement
    = f.input :shipping_address_district
    = f.input :shipping_address_city
    = f.input :shipping_address_state

  - credit_card_style = f.object.payment_method == 'creditCard' ? '' : 'display: none;'

  = f.inputs 'Forma de Pagamento' do
    = f.input :payment_method, as: :select, collection: { 'Cartão de Crédito' => 'creditCard', 'Boleto Bancário' => 'boleto' }

    = f.input :no_interest_installment_quantity, as: :select, collection: (1..3), wrapper_html: { class: 'credit_card_inputs', style: credit_card_style }
    = f.input :installment_value, as: :hidden

  = f.inputs 'Cartão de Crédito', class: 'credit_card_info credit_card_inputs inputs', style: credit_card_style do
    = f.input :card_number, as: :string, input_html: { maxlength: '17' }
    -# = f.input :brand, as: :radio, collection: {}
    = f.input :cvv, input_html: { maxlength: '4' }
    = f.input :expiration_month, as: :select, collection: (1..12)
    = f.input :expiration_year, as: :select, collection: (Time.zone.now.year..Time.zone.now.year + 40)

  = f.inputs 'Dono do Cartão', class: 'credit_card_inputs inputs', style: credit_card_style do
    = f.input :credit_card_token, as: :hidden
    = f.input :credit_card_holder_name
    = f.input :credit_card_holder_cpf, input_html: { maxlength: '13' }
    = f.input :credit_card_holder_birth_date, input_html: { maxlength: '10' }
    = f.input :credit_card_holder_area_code, input_html: { maxlength: '2' }
    = f.input :credit_card_holder_phone, input_html: { maxlength: '10' }

  = f.inputs 'Endereço de Cobrança', class: 'credit_card_inputs inputs', style: credit_card_style do
    = f.input :billing_same_as_shipping, as: :boolean, input_html: { class: 'usual-checkbox' }

    - style = f.object.billing_same_as_shipping == true ? 'display: none' : ''

    = f.input :billing_address_postal_code, wrapper_html: { class: 'billing_address_field', style: style }, input_html: { maxlength: '10' }
    = f.input :billing_address_street, wrapper_html: { class: 'billing_address_field', style: style }
    = f.input :billing_address_number, wrapper_html: { class: 'billing_address_field', style: style }
    = f.input :billing_address_complement, wrapper_html: { class: 'billing_address_field', style: style }
    = f.input :billing_address_district, wrapper_html: { class: 'billing_address_field', style: style }
    = f.input :billing_address_city, wrapper_html: { class: 'billing_address_field', style: style }
    = f.input :billing_address_state, wrapper_html: { class: 'billing_address_field', style: style }

  = f.inputs 'Termos e Condições' do
    - label = capture do
      Li e concordo com os
      = link_to 'Termos e Condições de Troca', trade_path, target: '_blank'
    = f.input :trade_terms_and_conditions, as: :boolean, input_html: { class: 'usual-checkbox' }, label: label

    - label = capture do
      Li e concordo com os
      = link_to 'Termos e Condições de Privacidade', privacy_path, target: '_blank'
    = f.input :privacy_terms_and_conditions, as: :boolean, input_html: { class: 'usual-checkbox' }, label: label

  .row
    .title{ style: 'margin-top: 20px' } Revise seu carrinho
  %hr{ style: 'margin-bottom: 20px;' }
  .row
    %table.cart.revision
      - current_cart.cart_color_products.each do |cp|
        %tr{data: { id: cp.id }}
          %td= image_tag cp.color_product.photo.photo.url(:home_thumb)
          %td= link_to cp.color_product.humanized_name, cp.color_product
          %td
            -# - unless cp.ammount < 2
            -#   = link_to color_product_cart_color_products_path(color_product_id: cp.color_product_id, ammount: -1), method: :post, class: 'ammount-changer' do
            -#     %span.icon.icon-minus-sign
            -# - else
            -#   %span.icon.icon-minus-sign.disabled-icon
            %span= "#{cp.ammount} #{cp.ammount == 1 ? 'unidade' : 'unidades'}"
            -# = link_to color_product_cart_color_products_path(color_product_id: cp.color_product_id, ammount: 1), method: :post, class: 'ammount-changer' do
            -#   %span.icon.icon-plus-sign
          %td.ammount
            %span= "#{number_to_currency(cp.unit_price * cp.ammount)}"
            .bg
          -# %td.delete
          -#   = link_to 'excluir', color_product_cart_color_product_path(cp.color_product, cp), method: :delete, class: 'delete_from_cart'
  .row.total.discount-price.revision
    %span= "Desconto ".mb_chars.upcase.to_s
    %span.total_price= "#{number_to_currency(current_cart.discount)}"
  .row.total.discount-price.revision#shipping-cost
    %span= "Frete ".mb_chars.upcase.to_s
    %span.total_price= "#{number_to_currency(current_cart.shipping)}"
  .row.total.revision#cart-total-price
    %span= "Total ".mb_chars.upcase.to_s
    %span.total_price= "#{number_to_currency(current_cart.total_price + current_cart.shipping)}"

  .row.continue.revision
    .row.buy
      %label.gift Para presente?
      %input.gift{ type: "checkbox", name: "gift", id: "gift", checked: current_user.active_cart.gift, class: 'usual-checkbox' }
      = f.submit 'Finalizar compra', class: 'buy_bt yellow-button'
