= semantic_form_for [:admin, @product] do |f|
  = f.inputs 'Detalhes Gerais' do
    = f.input :sub_ambient
    = f.input :collection
    = f.input :product_category, collection: ProductCategory.order('name ASC')
    = f.input :name
    = f.input :spotlight

  = f.inputs 'Preço' do
    = f.input :price
    = f.input :promotional_price
    = f.input :parcels
    = f.input :on_promotion

  = f.inputs 'Tamanho' do
    = f.input :weight_in_grams
    = f.input :depth_in_centimeters, hint: 'O comprimento deve ser a maior das 3 dimensões'
    = f.input :height_in_centimeters, hint: 'A altura não pode ser maior que o comprimento'
    = f.input :width_in_centimeters, hint: 'A largura não pode ser maior que o comprimento'

  = f.inputs 'Especificação' do
    = f.label :description, "Descrição"
    = f.input :description
    = f.label :specification, "Especificação"
    = f.input :specification
    = f.label :magazine_description, 'Descrição da Revista'
    = f.input :magazine_description


  = f.actions

= stylesheet_link_tag "post_form", media: 'all'
= javascript_include_tag "//tinymce.cachefly.net/4.0/tinymce.min.js"
= javascript_include_tag "admin/rich_editor_extra_info"
