.row
  .title Nova senha
%hr

.row.forgot_password
  = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
    = f.error_notification
    = f.input :reset_password_token, :as => :hidden
    = f.full_error :reset_password_token
    = f.password_field :password, placeholder: "digite sua nova senha"
    = f.password_field :password_confirmation, placeholder: "confirme sua nova senha"
    = f.button :submit, "TROCAR MINHA SENHA"
