.row.forgot_password
  .grid12.columns
    .padding40
      .row
        .grid12.columns
          .title Esqueceu sua senha?
      .row
        .grid12.columns
          = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
            = f.error_notification
            = f.email_field :email, required: true, placeholder: "digite seu email"
            = f.button :submit, "ENVIAR INSTRUÇÕES", style: "width: 270px;"
          = link_to "Login / Cadastro", new_user_registration_path, class: 'modal-render-link modal-link-to-modal', remote: true, id: 'sign_up_link'
