- if @architect.present?
	- title("Dicas do profissional", true)
- else
	- title(@post.post_category.name.capitalize, true)

.row
	- if @architect.present?
		.title= 'TOQUES DOS EXPERTS'
	- else
		.title= @post.post_category.name.mb_chars.upcase.to_s
%hr

.row
	.post_content.columns
		.current_date
			.day= @post.date.day
			.month= I18n.l(@post.date, format: "%b").mb_chars.upcase.to_s
			.year= @post.date.year
		.post_title= @post.title
		- if @architect.nil?
			.post_author= "Por #{@post.author}"
		.photo
			- if @post.media_type == "Foto"
				= image_tag @post.photo.url
			- else
				%iframe{width: "650", height: "515", src: @post.media_link, frameborder: "0", allowfullscreen: nil}
		.my_content= @post.content.html_safe
		- if @architect.present?
			.row
				.architect
					= image_tag @architect.photo.url(:medium)
					%p.text
						= "por #{@architect.name.mb_chars.upcase.to_s}"
						%br
						%br
						= @architect.description
			.row{ style: "margin-top: 10px;" }
				.title Galeria do Profissional
			%hr
			.row.architect_photos
				- @architect.photos.each do |photo|
					.architect_photo
						.modal-trigger{ data: { content: "<img src='#{photo.photo.url}'>" } }
							= image_tag photo.photo.url(:thumb)
						-# = link_to photo.photo.url, data: { toggle: 'modal', target: '#modal' } do
		= render 'shared/share'
		= render 'shared/comment'
	.calendar.columns
		.calendar_title
			.date
				.day= @post.date.day
				.rest
					.weekday= I18n.l(@post.date, format: "%A")
					.month= I18n.l(@post.date, format: "%B/%Y")
			- if @architect.present?
				#max_year{data: { year: @post.architect.posts.where("date < ?", DateTime.now).last.date.year } }
				#max_month{data: { month: @post.architect.posts.where("date < ?", DateTime.now).last.date.month } }
				#min_year{data: { year: @post.architect.posts.first.date.year } }
				#min_month{data: { month: @post.architect.posts.first.date.month } }
			- else
				#max_year{data: { year: @post.post_category.posts.where("date < ?", DateTime.now).last.date.year } }
				#max_month{data: { month: @post.post_category.posts.where("date < ?", DateTime.now).last.date.month } }
				#min_year{data: { year: @post.post_category.posts.first.date.year } }
				#min_month{data: { month: @post.post_category.posts.first.date.month } }
			- next_month = (@post.date + 1.month).month
			- next_year = @post.date.year
			- if next_month < @post.date.month
				- next_year += 1
			- valid = true
			- if @architect.present?
				- valid = false if @post.date.month == @post.architect.posts.last.date.month
			- else
				- valid = false if @post.date.month == @post.post_category.posts.last.date.month
			= link_to year_month_calendar_path(id: @post.id, month_id: next_month, year_id: next_year), class: 'next', style: "#{'display: none' unless valid}", remote: true do
				%span.icon-angle-right

			- prev_month = (@post.date - 1.month).month
			- prev_year = @post.date.year
			- if prev_month > @post.date.month
				- prev_year -= 1
			= link_to year_month_calendar_path(id: @post.id, month_id: prev_month, year_id: prev_year), class: 'prev', remote: true do
				%span.icon-angle-left
		.calendar_body
			- architect_id = nil
			- post_category_id = nil
			- if @architect.present?
				- architect_id = @architect.id
			- else
				- post_category_id = @post.post_category.id
			= render 'shared/calendar', year: @post.date.year, month: @post.date.month, current_date: @post.date.day, post_category_id: post_category_id, architect_id: architect_id
		- if @architects.present?
			.architect_banner
			.architects
				.title= 'PROFISSIONAIS DE A a Z'
				%hr
				%ul.sub_menu
					- @architects.each do |arq|
						- if @architect.present? and arq.id == @architect.id
							%li= link_to arq.name, arq, class: 'selected'
						- else
							%li= link_to arq.name, arq
