// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

@import "multiple_photo_filepicker";
// @import "s3_direct_upload_progress_bars";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   body.active_admin {
//      .status_tag { background: #6090DB; }
//   }
//
// Notice that Active Admin CSS rules are nested within a
// 'body.active_admin' selector to prevent conflicts with
// other pages in the app. It is best to wrap your changes in a
// namespace so they are properly recognized. You have options
// if you e.g. want different styles for different namespaces:
//
// .active_admin       applies to any Active Admin namespace
// .admin_namespace    applies to the admin namespace (eg: /admin)
// .other_namespace    applies to a custom namespace named other (eg: /other)

body.active_admin form fieldset legend span {
	font-weight: normal
}

#title_bar h2 {
	font-weight: normal
}

form fieldset ol > li label {
	font-weight: normal
}

form input[type=submit] {
	font-weight: normal
}

.blank_slate_container .blank_slate {
	font-weight: normal
}

.sidebar_section > h3 {
	font-weight: normal
}

form.filter_form a.clear_filters_btn {
	font-weight: normal
}

#title_bar .action_items a {
	font-weight: normal
}

.sidebar_section label {
	font-weight: normal
}

table.index_table th {
	font-weight: normal
}

a.table_tools_button, .table_tools .dropdown_menu_button {
	font-weight: normal
}

.section > h3, .panel > h3 {
	font-weight: normal
}

th {
	font-weight: normal
}

form fieldset.buttons li.cancel a, form fieldset.actions li.cancel a {
	font-weight: normal
}

strong, b {
	font-weight: normal
}

.img_holder {
	display: inline-block;
	width: 100px;
	height: auto;
}

.formtastic.post {
	li {
		list-style: none;
	}
	#post_content_input {
		label {
			font-size: 16px;
			// font-weight: bold
		}
	}
}

.no-display {
	display: none;
}

.progress {
	height: 10px;
	position: relative;
	.meter {
		background-color: green;
		height: 100%;
	}
}

.droppable_element {
	cursor: pointer;
	position: relative;
	display: inline-block;
	img {
		width: 52px;
	}
	.hover {
		visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.remove_page {
	position: absolute;
	top: 2px;
	font-size: 12px;
	right: 10px;
}

.added {
	background-color: transparent
}

.page {
	position: relative;
	.page_photo {
		position: relative;
		display: table;
		img {
			border: 1px solid black;
		}
		.left {
			display: table-cell;
			img {
				max-width: 800px;
			}
		}
		.right {
			padding-left: 20px;
			display: table-cell;
			.droppable_element {
				display: table-cell;
				img {
					border: none;
				}
			}
			p {
				display: table-cell;
				vertical-align: middle;
			}
			select {
				margin-top: 5px;
			}
		}
	}
}

#model {
	display: none;
}

body.active_admin {
	.added {
		background-color: transparent;
		img {
			border: none;
		}
	}
}

#magazine_product_input, #magazine_website_input {
	display: none;
}

li.select.input.optional {
	select {
		max-width: 200px
	}
}
