/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require bootstrap
 *= require bootstrap-modal
 *= require grid
 *= require fonts
 *= require_self
 */

@import 'bourbon'

$color_button_background: #cdcdcd
$color_button_text: #fff
$color_button_background_hover: #000
$color_inverted_button_background: #000
$color_inverted_button_text: #ffffff
$color_inverted_button_background_hover: #cdcdcd
$color_input_background: #f4f4f4
$color_input_background: #f4f4f4
$color_input_text: #7c7c7c

$input_height: 22px
$triangle_size: 8px

*
	@include box-sizing(border-box)
	font-family: "Arial"

body, header, footer
	background-color: #fff
	// overflow-x: hidden
	min-width: 960px

input
	height: $input_height
	padding: 2px
	border: 0
	background-color: $color_input_background
	color: $color_input_text
	font-size: 12px
	@include placeholder
		font-family: Arial
		font-style: italic

.error_field
	@include box-shadow(0 0 2px 2px rgba(100%, 0%, 0%, 0.5))

input[type="checkbox"]:not(.usual-checkbox)
	display: none

input[type="checkbox"]:not(.usual-checkbox) + label
	position: relative
	font-family: Arial
	font-size: 12px
	color: $color_input_text

input[type="checkbox"]:not(.usual-checkbox) + label .bg
	display: inline-block
	width: 28px
	height: 28px
	background-color: $color_input_background
	vertical-align: middle
	cursor: pointer

input[type="checkbox"]:not(.usual-checkbox) + label .icon-ok
	display: none
	position: absolute
	left: 6px
	top: 0px
	cursor: pointer
	color: $color_input_text
	font-size: 16px

input[type="checkbox"]:not(.usual-checkbox):checked + label
	.icon-ok
		display: block

hr
	display: block
	height: 1px
	border: 0
	background-color: $color_button_background

.clear
	clear: both
	height: 0
	overflow: hidden

header
	// position: fixed
	height: 280px
	margin: 0 auto
	left: 0
	top: 0
	right: 0

#container
	// width: 75%
	margin: 0 auto
	min-height: 500px
	// background: white
	// padding: 20px 40px
	// border: solid 1px black
	// margin-top: 280px

.flash_message,
.flash_error,
.alert-error,
.alert
	font-family: Arial
	font-size: 12px
	padding: 5px 8px
	margin: 10px 0

.flash_notice,
.flash_success,
.alert-notice,
.alert-success
	background-color: #ccffcc
	border: solid 1px #66cc66

.flash_error,
.flash_alert,
.alert-error
	background-color: #ffcccc
	border: solid 1px #cc6666

.fieldWithErrors
	display: inline

.error_messages
	width: 400px
	border: 2px solid #cf0000
	padding: 0
	padding-bottom: 12px
	margin-bottom: 20px
	background-color: #f0f0f0
	font:
		size: 12px
	h2
		text-align: left
		padding: 5px 5px 5px 15px
		margin: 0
		font:
			weight: bold
			size: 12px
		background-color: #cc0000
		color: white
	p
		margin: 8px 10px
	ul
		margin: 0

.pull-right
	float: right

.pull-left
	float: left

.align-center
	text-align: center

.inline-block
	display: inline-block

.form-inline
	*
		display: inline-block

.align-bottom
	input, button, a
		vertical-align: text-bottom

.input-append
	.append
		position: relative
		border: 0
		background-color: $color_button_background
		color: $color_button_text
		height: $input_height
		font-size: 16px
		margin-left: -5px
	.append:before
		content: ""
		position: absolute
		@include triangle($triangle_size, $color_button_background, left)
		left: -$triangle_size + 1px
		top: $input_height/2 - $triangle_size/2
	.append:hover
		background-color: $color_button_background_hover
		cursor: pointer
	.append:hover:before
		border-right-color: $color_button_background_hover

header
	z-index: 1
	background-color: white
	form[action="/login"]
		input
			width: 100px
	#newsletter_email
		width: 240px

.bold
	font-family: Arial
	font-weight: bold

.secondary-login-links
	margin-bottom: 5px
	a, p
		margin: 0
		padding: 0
		color: #b9b8b8
		font-size: 10px
	.logged-in
		margin-top: 5px

.cart-link
	font-size: 12px
	color: black
	text-decoration: none
	vertical-align: text-top !important
	position: relative
	.cart-link-title
		font-weight: bold

.cart-link-logged-in
	margin-left: 5px
	position: relative
	.cart-totals
		position: absolute
		right: 0
		background-color: black
		height: 20px
		width: 70px
		top: 24px
		color: white
		font-size: 12px
		text-align: center
		line-height: 20px
	.icon-shopping-cart
		font-size: 16px
		position: absolute
		top: -1px

.cart-link-not-logged
	text-decoration: none
	position: relative
	height: 22px
	line-height: 22px
	.cart-totals
		position: absolute
		right: 0
		background-color: black
		height: 20px
		width: 100%
		top: 30px
		color: white
		font-size: 12px
		text-align: center
		line-height: 20px
	.icon
		padding: 2px 4px 3px 4px
		color: white
		background: #cdcdcd
	.cart-link-title
		padding: 5px 4px 3px 4px
		background-color: $color_input_background
		color: $color_input_text
		margin-left: -4px
		text-transform: uppercase
		font-weight: bold
		font-size: 12px
	&:hover
		.icon
			background: black
			color: white
		.cart-link-title
			background: $color_input_text
			color: white

// input
// 	height: $input_height
// 	padding: 2px
// 	border: 0
// 	background-color: $color_input_background
// 	color: $color_input_text
// 	font-size: 12px
// 	@include placeholder
// 		font-family: Arial
// 		font-style: italic

.logged-in
	margin-top: 5px
	position: relative
	span
		position: absolute
		top: 2px
		left: -20px
	p
		font-size: 12px
		color: black
	a
		font-size: 10px
		color: white
	.header_logged_links_box
		position: relative
		border: 0
		background-color: $color_inverted_button_background
		height: $input_height
		font-size: 16px
		margin-left: 5px
		padding: 0px 10px 5px 10px
		display: inline-block
		p
			color: $color_inverted_button_text
		a
			color: $color_inverted_button_text
			text-decoration: none
	.header_logged_links_box:before
		content: ""
		position: absolute
		@include triangle($triangle_size, $color_inverted_button_background, left)
		left: -$triangle_size + 1px
		top: $input_height/2 - $triangle_size/2
	// .header_logged_links_box:hover
	// 	background-color: $color_inverted_button_background_hover
	// 	cursor: pointer
	// .header_logged_links_box:hover:before
	// 	background-color: $color_inverted_button_background_hover
	.slider
		position: absolute
		top: 30px
		left: 960px
	.menu-row
		padding: 0
		margin: 0
		position: relative
	ul:not
		position: relative
		width: 160px
		height: 20px
		li
			position: absolute
			top: 10px
			margin: 0 !important
		li:first-child
			left: -30px
		li:last-child
			right: 0px


.menu-row
	position: relative
.search_area
	position: absolute
	right: 40px
	input
		width: 106px
		padding: 5px
	.search-button
		border: 0
		cursor: pointer
		text-decoration: none
		background-color: black
		width: 30px
		height: 30px
		@include border-top-radius(15px)
		@include border-bottom-radius(15px)
		@include border-left-radius(15px)
		@include border-right-radius(15px)
		color: white
		font-size: 20px
		text-align: center
		text-decoration: none
		position: absolute
		top: -4px
		left: 110px
		span
			position: absolute
			font-size: 14px
			left: 8px
			top: 7px
	form
		margin-right: 35px
	.color-search
		left: 145px
		span
			left: 9px
			top: 8px


.facebook-login
	background-color: #617fb5
	color: white
	text-decoration: none
	width: 74px
	height: 22px
	font-size: 11px
	position: relative
	padding: 0px 2px 2px 13px
	margin-right: 4px
	span
		position: absolute
		font-size: 20px
		bottom: -2px
		left: 5px
	p
		margin: 4px 8px
		padding: 0

.facebook-login:hover
	background-color: #405374

.logo-row
	margin-top: 15px
	.pull-left
		margin-left: 10px
	img
		margin-left: -38px

.social-network
	background-color: $color_button_background
	width: 28px
	height: 28px
	@include border-top-radius(14px)
	@include border-bottom-radius(14px)
	@include border-left-radius(14px)
	@include border-right-radius(14px)
	text-align: center
	margin-top: 2px
	color: $color_button_text
	text-decoration: none
	line-height: 28px
	font-size: 18px

.social-network:hover
	background-color: $color_button_background_hover

.menu-row
	margin-top: 15px
	ul
		padding: 0
		margin: 0
		list-style: none
		li
			display: inline-block
			margin-right: 18px
			a
				font-size: 12px
				font-family: Arial
				font-weight: bold
				color: black
				text-decoration: none
	ul.menu-slider
		li
			margin-right: 8px
	hr
		margin-bottom: 0
	.btn-group
		position: relative
		&:hover
			ul.drop-menu
				display: inline-block
		ul.drop-menu
			margin-top: 5 px
			position: absolute
			display: none
			z-index: 5
			background-color: white
			padding: 7px 12px
			min-width: 100px
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5)
			li
				margin: 2px
				a
					font-family: Arial
					font-size: 12px
					color: #828282
					position: relative
					padding-left: 9px
					font-weight: normal
					&:before
						content: ""
						position: absolute
						@include triangle($triangle_size, #828282, right)
						left: 0
						top: 3px
					&:hover
						// background-color: white !important
						background-image: none
						background-color: transparent
						text-decoration: underline
.slider
	width: 36px
	height: 10px
	background-color: black
	position: absolute

.modal
	border: 0
	@include box-shadow(none)
	@include border-top-radius(0)
	@include border-bottom-radius(0)
	@include border-left-radius(0)
	@include border-right-radius(0)
	.close
		z-index: 10
		text-align: center
		$close-size: 42px
		background-color: white
		width: $close-size
		height: $close-size
		@include border-top-radius($close-size / 2)
		@include border-bottom-radius($close-size / 2)
		@include border-left-radius($close-size / 2)
		@include border-right-radius($close-size / 2)
		position: absolute
		opacity: 1
		left: 100%
		top: 0%
		margin-left: -$close-size / 2
		margin-top: -$close-size / 2
		p
			margin: 0
			// margin-top: -6px
			color: black
			line-height: $close-size
			padding: 0
			font-family: Arial
			font-weight: bold
			font-size: 42px
			font-weight: bold
	.modal-body
		padding: 0px

.modal-backdrop.fade.in
	background-color: black
	opacity: 0.18

#img-modal
	height: 400px
	text-align: center
	img
		max-width: 100%
		max-height: 100%

.title, .title a
	color: black
	font-family: Arial
	font-weight: bold
	font-size: 14px
	position: relative
	padding-left: 10px
	text-decoration: none
	text-transform: uppercase
	span
		margin-left: -9px
.title:before, .sub_menu>li>a:before
	content: ""
	position: absolute
	@include triangle($triangle_size, black, right)
	left: 0
	top: 5px

.title a
	margin-left: -10px

.sub_menu
	list-style-type: none
	padding: 0
	li
		margin-bottom: 6px
	li a
		text-decoration: none
		font-family: Arial
		font-size: 12px
		color: #828282
		position: relative
		padding-left: 10px
	li a:before
		border-left-color: #5c55a5
		top: 2px
	li>a.selected
		text-decoration: underline
		font-family: Arial
		font-weight: bold

.forgot_password
	text-align: center
	input
		display: block
	input[type="submit"]
		width: auto
		height: auto
		padding: 10px
		display: block

.new_user_registration, .forgot_password
	text-align: center
	position: relative
	.title
		margin-bottom: 30px
	input, a
		height: 28px
		width: 270px
		margin-bottom: 9px
	input[type="submit"]
		background-color: black
		color: white
		height: 36px
		font-family: Arial
		font-weight: bold
		font-size: 12px
		cursor: pointer
	input[type="submit"]:hover
		background-color: $color_input_text
	.dividing_line
		width: 1px
		height: 100%
		position: absolute
		background-color: $color_input_text
		left: 50%
	p
		font-family: Arial
		font-size: 12px
		color: $color_input_text
		margin-top: 28px
	.facebook-login
		height: 36px
		text-align: center
		p
			margin: 0px
			color: white
			font-size: 15px
			line-height: 32px
			font-weight: bold
		span
			font-size: 26px
			bottom: -3px
			left: 15px


footer
	background-color: black
	padding-top: 80px
	.title
		color: #a1a1a1
	.title:before
		border-left-color: #a1a1a1
	hr
		background-color: #212121
	.grid4
		padding: 0px 15px
.padding40
	padding: 40px
	text-align: left

.product_thumb
	text-decoration: none
	position: relative
	.name
		font-size: 12px
		color: #272630
		font-family: Arial
		font-weight: bold
		margin: 15px 0px 25px 0px
		padding: 0px 15px 0px 5px
	.description
		font-size: 12px
		color: #555555
		font-family: Arial
		overflow: hidden
		height: 28px
		margin: -15px 0px 25px 0
		padding: 0px 15px 0px 5px
		text-align: center
	.price
		position: absolute
		top: 0
		right: 10px
		background-color: black
		color: white
		padding: 5px
		font-family: Arial
		font-weight: bold
		font-size: 14px
		span
			font-size: 11px
	.overlay
		position: absolute
		top: 0
		left: 0
		width: 230px
		height: 230px
		.over
			width: 100%
			height: 100%
			position: relative
			display: none
		.whitefill
			width: 100%
			height: 100%
			background-color: white
			opacity: 0.4
		.bt
			background-color: black
			width: 36px
			height: 36px
			position: absolute
			top: 50%
			margin-top: -18px
			left: 50%
			@include border-top-radius(18px)
			@include border-bottom-radius(18px)
			@include border-left-radius(18px)
			@include border-right-radius(18px)
			color: white
			font-size: 20px
			text-align: center
			text-decoration: none
			span
				position: absolute
		.bt:hover
			background-color: #5c55a5
		.details
			margin-left: -40px
			span
				left: 10px
				top: 8px
		.add_to_cart
			margin-left: 10px
			span
				left: 8px
				top: 7px

.product_body
	margin-top: 50px
	.big_photo
		width: 650px
		height: 515px
		position: relative
		overflow: hidden
		.hover
			position: absolute
			background: url(/assets/pattern_plus.png)
			visibility: hidden
	.small_photos
		margin-top: 20px
		.small_photo
			width: 144px
			margin-right: 12px
			height: 100px
			overflow: hidden
			text-align: center
			cursor: pointer
			display: inline-block
			img
				max-height: 100%
				max-width: 100%
	.right_product
		padding-left: 20px
	.top
		width: 100%
		height: 515px
		position: relative
	.down_part
		// position: absolute
		// bottom: 0
		width: 100%
		display: inline-block
		margin-top: 25px
		.share-bt:last-child
			margin: 0
		p
			margin: 0
			padding: 0
			font-size: 11px
			margin-bottom: 10px
		.no_stock
			margin-bottom: 20px
			font-size: 18px
			font-style: italic
	.share-bt
		width: 22%
		margin-right: 2.52%
	.name
		font-family: Arial
		font-weight: bold
		color: #272630
		font-size: 12px
	.description
		margin-top: 5px
		font-family: Arial
		color: #555555
		font-size: 12px
		// max-height: 185px
		// overflow: auto
	.add_to_cart
		cursor: pointer
		margin-left: 42px
		margin-bottom: 10px
		text-decoration: none
		display: block
		span.add_text
			font-size: 12px
			font-family: Arial
			color: #555555
		.bt
			background-color: black
			width: 36px
			height: 36px
			@include border-top-radius(18px)
			@include border-bottom-radius(18px)
			@include border-left-radius(18px)
			@include border-right-radius(18px)
			color: white
			font-size: 20px
			text-align: center
			text-decoration: none
			span
				position: absolute
				left: 8px
				top: 7px
			position: absolute
			margin-top: -8px
			margin-left: -42px
	.add_to_cart:hover
		.bt
			background-color: #5c55a5

.buy_bt, .login-to-buy
	width: 100%
	background-color: black
	color: white
	height: 35px
	line-height: 35px
	display: inline-block
	text-decoration: none
	text-align: center
	margin-bottom: 10px
	font-weight: bold
	font-size: 12px
	text-transform: uppercase

.yellow-button
	background-color: rgb(239, 214, 32)
	color: black

.login-to-buy
	float: right
	width: 270px
	// margin-top: 10px

.advice img
	float: right
	// width: 270px
	margin-top: -10px

.my_select
	width: 70px
	height: 30px
	border: 1px solid black
	position: relative
	margin-bottom: 10px
	.selected
		width: 100%
		height: 100%
		cursor: pointer
	.options
		width: calc(100% + 2px)
		position: absolute
		top: 100%
		border: 1px solid black
		border-top: 0
		left: -1px
		display: none
	.info
		position: absolute
		left: 75px
		top: 3px
		width: 200px
		font-size: 11px
		font-family: Arial
		p
			padding: 0
			margin: 0


.ammount_select
	z-index: 10
	.selected
		background-color: #f4f4f4
	.options
		background-color: #f4f4f4
	.selected, .option
		// padding: 5px
		font-family: Arial
		font-weight: bold
		font-size: 16px
		cursor: pointer
		line-height: 28px
		padding-left: 14px

.color_select
	z-index: 5
	.options
		.color_option
			width: 100%
			height: 30px
			display: table
			border-top: 1px solid black
	.selected
		display: table
	.color
		display: table-cell
		max-width: 100%
		height: 100%
		width: 1px

.custom_select
	cursor: pointer
	width: 24px
	height: 100%
	background-color: black
	position: absolute
	right: -1px
	top: 0
	text-align: center

.custom_select:before
	content: ""
	position: absolute
	left: calc(50% - 6px)
	top: calc(50% - 3px)
	@include triangle(12px, white, down)

.price
	margin-bottom: 18px
	.big
		div
			display: inline-block
		font-family: Arial
		font-weight: bold
		.times
			font-size: 27.6px
		.value
			font-size: 35.1px
	.small
		font-size: 12px
		color: #555555

.zoom_photo
	z-index: 1000
	overflow: hidden
	position: absolute
	height: 515px
	width: 100%
	top: 0
	left: 0
	visibility: hidden
	img
		position: absolute

.spec_title
	margin: 0
	padding: 0
	font-family: Arial
	font-weight: bold
	font-size: 12px
	margin-top: 15px
	color: #272630

.spec
	margin: 0
	padding: 0
	font-family: Arial
	font-size: 12px
	margin-top: 7px
	margin-bottom: 40px
	color: #555555

.pag_seguro
	margin-left: 34px
	margin-top: 50px







.post_content
	margin-top: 40px
	position: relative
	width: 650px
	.current_date
		background-color: #5c55a5
		position: absolute
		left: 0
		top: 0
		width: 50px
		height: 80px
		text-align: center
		color: white
		.day
			margin-top: 15px
			font-family: Arial
			font-size: 23px
		.month, .year
			font-family: Arial
			font-size: 10px
			opacity: 0.6
	.post_title, .post_author
		margin-left: 60px
	.post_title
		color: #5c55a5
		font-family: Arial
		font-weight: bold
		font-size: 13px
	.post_author
		color: #949494
		font-family: Arial
		font-style: italic
		font-size: 11px
		margin-top: 8px
	.photo
		margin-top: 6px
		img
			width: 650px
			height: auto
	.my_content
		width: 650px
		color: #555555
		font-family: Arial
		font-size: 12px
		margin-bottom: 40px
	// .fb-comments
	// 	display: block
	.architect
		margin-bottom: 6px
		display: table
		img, p
			display: table-cell
			vertical-align: bottom
		p
			color: #8a8a8a
			font-size: 11px
			width: 100%
			padding-left: 10px
	.architect_photos
		margin-bottom: 20px
		.architect_photo
			width: 156px
			height: 100px
			margin-right: 3px
			margin-bottom: 3px
			overflow: hidden
			display: inline-block

.calendar
	margin-top: 80px
	margin-left: 20px
	width: 290px
	.calendar_title
		height: 75px
		background-color: #5c55a5
		text-align: center
		position: relative
		.date
			color: white
			font-family: Arial
			display: inline-block
			.day
				line-height: 75px
				font-size: 46px
				display: inline-block
			.rest
				text-align: left
				display: inline-block
			.weekday
				font-size: 13px
				margin-bottom: 3px
			.month
				font-size: 12px
				opacity: 0.6
		a
			color: white
			position: absolute
			font-size: 40px
			top: 14px
			cursor: pointer
			text-decoration: none
		.prev
			left: 10px
		.next
			right: 10px
	.calendar_body
		text-align: center
		font-size: 11px
		font-family: Arial
		overflow: hidden
		width: 100%
		height: 200px
		position: relative
		th
			color: #5c55a5
		td
			color: #aab2bd
		td.current
			background-color: black
			color: white
			border-radius: 24px
		th, td
			width: 24px
			height: 24px
			line-height: 24px
		table
			margin-left: 48px
			margin-top: 10px
			position: absolute
	.architects
		margin-top: 15px
		li
			margin-bottom: 0
	.architect_banner
		width: 100%
		height: 221px

.share-bt
	text-decoration: none
	cursor: pointer
	width: 66px
	height: 27px
	background-color: #cdcdcd
	margin-right: 4px
	display: inline-block
	font-size: 12px
	color: white
	text-align: center
	line-height: 27px
.share-bt:hover
	background-color: black




.ambient_sub_menu
	margin-top: 10px
	list-style-type: none
	padding: 0
	position: relative
	li
		display: inline-block
		margin-bottom: 6px
		position: relative
	li a
		text-decoration: none
		font-family: Arial
		font-size: 12px
		color: #828282
		position: relative
		padding-left: 10px
	.divider
		width: 1px
		height: 4px
		background-color: #5c55a5
		position: absolute
		top: 40%
		left: 107%
	li>a.selected
		text-decoration: underline
		font-family: Arial
		font-weight: bold

.ambient_sub_menu:before
	content: ""
	position: absolute
	@include triangle($triangle_size, black, right)
	left: 0
	border-left-color: #5c55a5
	top: 8px


.cart
	width: 100%
	position: relative
	tr
		width: 100%
		position: relative
		td:first-child
			width: 90px
	td
		a, span
			font-size: 12px
			color: #555555
			font-weight: normal
		img
			width: 75px
			height: 75px
		.ammount-changer
			text-decoration: none
			margin: 5px
			span
				font-size: 14px
		.disabled-icon
			color: #999
			margin: 5px
	.ammount
		span
			color: black
			font-size: 13px
			font-family: Arial
			font-weight: bold
	.delete
		a
			font-size: 11px
			color: #5c55a5
			font-family: Arial
			font-style: italic
	.bg
		position: absolute
		width: calc(100% - 90px)
		margin-left: 90px
		background-color: #f4f4f4
		height: 20px
		left: 0
		margin-top: -18px
		z-index: -1

.cart.revision
	.ammount
		text-align: right

.row.total
	text-align: right
	span
		font-family: Arial
		font-weight: bold
		font-size: 15px
		margin-right: 10px
	.total_price
		font-size: 22px
		margin-right: 52px
	&.revision
		.total_price
			margin-right: 0

.row.total.discount-price
	margin-bottom: 25px
	span
		font-size: 12px
	.total_price
		font-size: 15px

.row.buy
	text-align: right
	margin-right: 52px
	// width: 270px
	// margin-top: 10px
	form
		li
			height: 35px
			list-style: none
			display: inline-block
			float: right
			input
				height: 100%
				margin-right: 5px
		label
			line-height: 35px
			font-family: Arial
			font-weight: bold
			font-size: 12px
			margin-right: 5px
		.gift
			display: inline-block
			vertical-align: middle
			line-height: auto
			margin-right: 0
		input.gift
			margin-right: 10px
	.buy_bt
		float: right
		width: 270px

.continue
	.buy_bt
		margin-top: 20px
		float: right
		width: 270px
		// margin-right: 30px
		// background-color: #959595
	li.string
		margin-top: 20px
		#coupon_code
			border: 1px solid black

.continue.revision
	input[type="checkbox"]
		margin-right: 15px
	label, input[type="checkbox"]
		margin-top: 26px
		vertical-align: middle
		display: inline-block


.just_text
	font-size: 12px
	color: #555555

.insta-photos
	a
		padding: 10px
		position: relative
		display: inline-block
		img
			width: 100%
		.overlay-area
			content: ""
			position: absolute
			width: calc(100% - 20px)
			height: calc(100% - 24px)
			top: 0
			left: 0
			background-color: black
			opacity: 0
			pointer-events: none
			margin: 10px
			@include transition(0.3s all ease)
		&:hover
			.overlay-area
				opacity: 0.5

.magazine_page
	.extra_options
		text-align: center
		margin: 20px 0
		a
			text-decoration: none
			display: inline-block
			line-height: 36px
			height: 36px
			font-size: 10px
			color: black
			font-family: Arial
			position: relative
			padding-right: 45px
			padding-left: 12px
			.icon
				font-size: 20px
				position: absolute
				margin-top: -28px
				margin-left: 50px
		.download_pdf
			padding-left: 10px
			// border-left: 1px solid #cdcdcd
			border-right: 1px solid #cdcdcd
	table
		width: 100%
		td
			vertical-align: middle
	.arrow-left, .arrow-right
		font-size: 60px
		width: 10%
		background-color: white
		cursor: pointer
		z-index: 1
	.arrow-right
		text-align: right
	.magazine_cell
		width: 80%
		.page_container
			width: 860px
			height: 600px
			overflow: hidden
			position: relative
			.magazine_page_unit
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 100%
				overflow: hidden
				img
					position: absolute
					top: 0
					height: 100%
					width: auto
				.pin
					position: absolute
					img
						position: relative
						width: 52px
					.pin-hover
						display: none
				.pin:hover
					.pin-default
						display: none
					.pin-hover
						display: block


.magazine_pages
	margin-top: 10px
	text-align: center
	margin-bottom: 50px
	button
		border: 0
		padding: 0
		background: none
		margin-right: 6px
		width: 76px
		height: 76px
		overflow: hidden
		position: relative
		img
			position: absolute
			height: 100%
			width: auto
			top: 0
			left: 0



.home_page
	.more
		font-family: Arial
		font-size: 12px
		color: #959595
		position: absolute
		padding-left: 10px
		right: 0
		bottom: -3px
		text-decoration: none
	.more:before
		content: ""
		position: absolute
		@include triangle(9px, #959595, right)
		left: 0
		top: 2px
	.title
		height: 14px
		.all_posts
			right: 5px
			margin-top: -3px
			position: absolute
			font-size: 12px
			color: black
			font-family: Arial
			text-decoration: none
			.icon-area
				position: relative
				background-color: black
				display: inline-block
				padding: 3px
				margin-left: 5px
				.icon
					// line-height: 22px
					font-size: 14px
					color: white
			.icon-area:before
				content: ""
				position: absolute
				@include triangle(9px, black, left)
				right: calc(100%)
				top: calc(50% - 5px)
	.magazine_part
		margin-bottom: 20px
		height: 600px
		.grid7, .grid5
			display: inline-block
			height: 100%
		.grid5
			// margin-left: 20px
			padding-left: 20px
			hr
				margin: 3.5px 0px
				width: 336px
				left: 0
		.carousel-control
			text-decoration: none
			font-size: 38px
			line-height: 28px
			top: 49%
		#homeCarousel
			width: 100%
			height: 100%
			.carousel-inner, .item
				height: 100%
				width: 100%
				overflow: hidden
				img
					height: 100%
			.carousel-indicators
				li
					cursor: pointer
		.product_thumb
			height: 143px
			vertical-align: text-top
			.position
				position: relative
				width: 143px
				height: 100%
			.photo, .overlay, .photo img
				width: 100%
				height: 100%
			.info
				width: calc(100% - 151px)
				text-align: left
				height: 100%
				position: relative
				.description_content
					overflow: hidden
					max-height: 63%
					font-size: 12px
					font-family: Arial
					color: #555555
					margin-top: 24px
					*
						padding: 0
		.banner-right
			img
				margin-left: 20px
	.ambients_part
		.product_thumb
			.name
				width: 100%
				text-align: center
	.blog_part
		height: 399px
		position: relative
		margin-bottom: 50px
		.arch
			position: relative
			height: 100%
		.top, .bottom
			height: 50%
		.grid4:first-child
			padding-right: 10px
		.diy
			padding: 0 0 0 10px
		.blog_info
			.content
				color: #555555
				font-size: 12px
				overflow: hidden
				height: 42px
				margin-top: -6px
				margin-bottom: 28px
			.more
				top: 80px
				margin-right: 10px
		.grid4:last-child
			padding-left: 20px
		.diy
			.blog_info
				.more
					margin-right: 0
		.club
			text-decoration: none
		.club_704
			p
				color: #555555
				font-size: 12px
		.architect_info
			.photo
				float: left
				width: 140px
			.content
				float: right
				width: 150px
				color: #555555
				font-size: 12px
				overflow: hidden
				max-height: 156px
			.more
				display: inline-block
				float: right
				position: relative
				margin-top: 6px
				margin-right: 6px

.footer
	.contact
		input, textarea
			margin: 5px 0
			font-family: Arial
			font-size: 12px
			color: #707070
			padding: 5px
		input
			width: 100%
			background-color: #282828
			height: 26px
		textarea
			width: 100%
			background-color: #282828
			height: 64px
			border: 0
			resize: none
		input[type="submit"]
			background-color: #3e3e3e
			font-family: Arial
			font-weight: bold
			font-size: 12px
			color: #959595
			height: 34px
			// line-height: 34px
			margin-bottom: 15px
	.testimonial
		font-family: Arial
		font-style: italic
		font-size: 12px
		color: #767676
		position: relative
		.test_content, .test_author
			font-style: italic
			width: 100%
			margin-bottom: 5px
		.test_author
			text-align: right
	.multibrand
		text-decoration: none
		padding: 0
		p
			font-size: 12px
			font-family: Arial
			color: #767676
	.sitemap
		.links_left, .links_right
			width: 50%
			display: inline-block
		.links_left
			float: left
		.links_right
			float: right
		a
			display: block
			font-family: Arial
			font-size: 12px
			color: #767676
			text-decoration: none
		a:hover
			text-decoration: underline
	.endereco
		margin-top: 30px
		text-align: center
		font-size: 12px
		font-family: Arial
		color: #767676
		padding-bottom: 10px
	.multibrand
		padding: 0 8px
		position: relative
		a
			width: 100%
		p
			width: 100%

.fullsizewhite
	width: 100%
	background-color: white
	font-family:  Arial
	font-size: 12px
	color: black
	text-align: center
	padding-top: 10px

.accordion-group
	margin-bottom: 10px

.comments_title
	font-family: Arial
	font-weight: bold
	font-style: italic
	font-size: 12px
	color: #272630
	margin-top: 20px
	margin-bottom: 5px

.old_comments_area
	.title
		margin-top: 10px
	.comment_content
		color: $color_input_text
		font-size: 12px
		padding: 5px

.new_comments_area
	form
		list-style: none
		input, textarea
			height: $input_height
			padding: 2px
			border: 0
			background-color: $color_input_background
			color: $color_input_text
			font-size: 12px
			padding: 5px
			@include placeholder
				font-family: Arial
				font-style: italic
		.inline_inputs
			width: 100%
			position: relative
			height: 27px
			margin-bottom: 6px
			li
				position: absolute
				width: calc(50% - 3px)
				padding: 0
				input
					width: 100%
					height: 27px
		#comment_name_input
			left: 0
			top: 0
		#comment_email_input
			right: 0
			top: 0
		#comment_content_input
			width: 100%
			height: 76px
			position: relative
			textarea
				width: 100%
				height: 100%
				resize: none
		#comment_submit_action
			margin: 6px 0 70px 0
			input[type="submit"]
				width: 270px
				background-color: black
				color: white
				height: 36px
				font-family: Arial
				font-weight: bold
				font-size: 12px
				cursor: pointer
			input[type="submit"]:hover
				background-color: $color_input_text
.commented_message
	display: none
	margin: 6px 0 70px 0
	font-family: Arial
	// font-weight: bold
	font-style: italic
	font-size: 16px

.home_magazine
	width: 430px
	height: 600px
	position: relative
	overflow: hidden
	img
		height: 100%
		width: 100%

.about
	font-size: 12px
	color: #555555
	img
		width: 100%
	.column1, .column2
		padding: 20px
		p:first-child
			padding-top: 0
			margin-top: 0
	.row
		margin-bottom: 15px

.title.sub
	font-size: 12px

form#new_multibrand, form#new_b2b
	input
		display: block
		margin: 10px
		width: calc(100% - 20px)
	input[type="submit"]
		background-color: black
		color: white
		font-size: 18px
		padding: 10px
		height: auto

.color-select
	position: absolute
	z-index: 1000
	margin-top: 10px
	display: none
	width: 100%
	// .columns
	// 	box-shadow: 0px 6px 6px -2px rgba(0, 0, 0, 0.5), 0px -6px 6px -2px rgba(0, 0, 0, 0.5)
	.color-box
		display: inline-block
		float: right
		box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5)
	.columns
		width: 80px
	.color
		height: 50px
		position: relative
	.hover-color
		height: 60px
		width: 90px
		position: absolute
		box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.5)
		display: none
	.no-color
		background-color: rgba(200, 200, 200, 1)
		height: 50px
		position: relative
		span
			color: rgba(150, 150, 150, 1)
			text-align: center
			display: block
			line-height: 50px
			font-size: 30px

.color-row
	position: absolute
	z-index: 1000


.multibrand-description
	font-size: 14px
	margin-top: -15px
	margin-bottom: 15px

.press_big_image
	width: 100%
	height: auto

.presses-index
	.columns
		text-align: center
	.row
		margin-bottom: 10px

.tooltip
	.tooltip-inner
		background-color: #5c55a5
		font-size: 11px
	.tooltip-arrow
		border-top-color: #5c55a5 !important

.carts-index
	font-size: 12px
	table
		width: 100%
		thead
			text-align: left


#siteseal
	padding-top: 20px
	padding-bottom: 30px


.magazine-other-editions
	.row
		margin-bottom: 30px
	img
		max-height: 300px
		text-align: center


.pagination
	margin: 15px 0 45px 0
	text-align: center
	font-weight: bold
	text-transform: uppercase
	font-size: 14px
	font-family: Arial
	a, .current
		background-color: #5c55a5
		color: white
		font-size: 14px
		text-align: center
		text-decoration: none
		line-height: 36px
		padding: 5px
	a:hover
		opacity: 0.5
	.current
		background-color: black
		color: white
		margin-right: 5px
		// padding-right: 1px

.modal-link-to-modal
	font-size: 12px
	color: #b9b8b8



#new_payment
	margin-top: 30px
	ul, ol, li
		list-style-type: none
	ul, ol
		padding-left: 0
	label
		font-family: Arial
		font-size: 12px
		color: $color_inverted_button_background
		width: 25%
		font-weight: bold
		display: inline-block
	input[type="text"], select, input[type="tel"]
		width: 75%
	select
		background-color: $color_input_background
		color: $color_input_text
		border: 0
	li
		margin-bottom: 15px
	.inputs
		padding: 0
		border: none
		border-bottom: 1px solid $color_button_background
		margin-bottom: 20px
		legend
			color: black
			font-family: Arial
			font-weight: bold
			font-size: 14px
			position: relative
			padding-left: 20px
			text-decoration: none
			text-transform: uppercase
			span
				margin-left: -9px
			&:before
				content: ""
				position: absolute
				@include triangle($triangle_size, black, right)
				left: 0
				top: 5px
	.boolean
		label
			width: 25%
			position: relative
			input
				position: absolute
				left: 100%
	.error
		input[type="text"], input[type="tel"], select, input[type="email"]
			border: 1px solid red
		.inline-errors
			font-size: 12px
			color: red
			margin: 2px 0 0 25%
	ul.errors
		background-color: #ffcccc
		border: solid 1px #cc6666
		padding: 10px 30px
		margin: 30px 0
		li
			color: black
			font-size: 14px
			list-style-type: disc
			margin-bottom: 10px
		li:last-child
			margin-bottom: 0


.carts-index
	tbody
		tr
			td
				padding: 10px 0
