/*
-------------------------------------------------------------------
Grid
-------------------------------------------------------------------
*/
.container { width: 960px; }
.row { width: 960px; max-width: 100%; margin: 0 auto; }
.row .row { min-width: 0px; }
.row:before, .row:after { content: ''; display: table; }
.row:after { clear: both; }
.row { zoom: 1; }
.column, .columns { float: left; min-height: 1px; position: relative; }
.column:first-child, .columns:first-child { margin-left: 0; }

/*
--------------------------------------------------
Columns
--------------------------------------------------
*/
    .row .grid1 { width: 8.333%; }
    .row .grid2 { width: 16.666%; }
    .row .grid3 { width: 25.000%; }
    .row .grid4 { width: 33.333%; }
    .row .grid5 { width: 41.666%; }
    .row .grid6 { width: 50.000%; }
    .row .grid7 { width: 58.333%; }
    .row .grid8 { width: 66.666%; }
    .row .grid9 { width: 75.000%; }
    .row .grid10 { width: 83.333%; }
    .row .grid11 { width: 91.666%; }
    .row .grid12 { width: 100.000%; }

/*
-------------------------------------------------------------------
Left offset
-------------------------------------------------------------------
*/
    .row .offset1 { margin-left: 8.333%; }
    .row .offset2 { margin-left: 16.666%; }
    .row .offset3 { margin-left: 25.000%; }
    .row .offset4 { margin-left: 33.333%; }
    .row .offset5 { margin-left: 41.666%; }
    .row .offset6 { margin-left: 50.000%; }
    .row .offset7 { margin-left: 58.333%; }
    .row .offset8 { margin-left: 66.666%; }
    .row .offset9 { margin-left: 75.000%; }
    .row .offset10 { margin-left: 83.333%; }
    .row .offset11 { margin-left: 91.666%; }

    .row .offset1:first-child { margin-left: 8.333%; }
    .row .offset2:first-child { margin-left: 16.666%; }
    .row .offset3:first-child { margin-left: 25.000%; }
    .row .offset4:first-child { margin-left: 33.333%; }
    .row .offset5:first-child { margin-left: 41.666%; }
    .row .offset6:first-child { margin-left: 50.000%; }
    .row .offset7:first-child { margin-left: 58.333%; }
    .row .offset8:first-child { margin-left: 66.666%; }
    .row .offset9:first-child { margin-left: 75.000%; }
    .row .offset10:first-child { margin-left: 83.333%; }
    .row .offset11:first-child { margin-left: 91.666%; }