@import 'bourbon'
@import '//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css'

fieldset.photos ol, .panel_contents, td.photos, td.magazine_pages, td.photo, td.media_link
	.admin_thumb
		width: 100px
	.inline-element
		display: inline-block
		margin: 5px
		width: 100px
		height: 100px
		position: relative
		.old_photo
			width: 100%
			height: 100%
			border: 1px solid black
			display: table
			.img_holder
				display: table-cell
				vertical-align: middle
				text-align: center
				img
					margin: 0
					padding: 0
					width: 100px
		.over_img
			width: 100%
			height: 100%
			background-color: black
			position: absolute
			top: 1px
			left: 1px
			display: none
		span
			color: white
			position: absolute
			right: 3px
			top: 1px
			font-family: FontAwesome
			cursor: pointer
			display: none
			font-size: 18px

td.photos span.extra
	vertical-align: 50px
	font-size: 12px