.droppable_element
	cursor: pointer
	position: relative
	display: inline-block
	img
		width: 50px
	.hover
		visibility: hidden
		position: absolute
		top: 0
		left: 0

.remove_page
	position: absolute
	top: 2px
	font-size: 12px
	right: 10px

.added
	background-color: transparent

.page
	position: relative
	.page_photo
		position: relative
		display: table
		img
			border: 1px solid black
		.left
			display: table-cell
			img 
				max-width: 800px
		.right
			padding-left: 20px
			display: table-cell
			.droppable_element
				display: table-cell
				img
					border: none
			p
				display: table-cell
				vertical-align: middle
			select
				margin-top: 5px


#model
	display: none

body.active_admin
	.added
		background-color: transparent
		img
			border: none

#magazine_product_input
	display: none