= semantic_form_for [:admin, @extra_info] do |f|
	= f.inputs do
		= f.input :business_name
		= f.input :address
		= f.input :cnpj
		= f.input :phone
		= f.input :delivery_time
		= f.input :delivery_time_out_of_state
		= f.input :multibrand
		= f.input :b2b
		= f.label :about
		= f.input :about
		= f.label :club_704
		= f.input :club_704
		= f.label :privacy_terms
		= f.input :privacy_terms
		= f.label :trade_terms
		= f.input :trade_terms

	= f.actions



= stylesheet_link_tag "post_form", media: 'all'
= javascript_include_tag "//tinymce.cachefly.net/4.0/tinymce.min.js"
= javascript_include_tag "admin/rich_editor_extra_info"
