.row
  .title= "B2B"

%hr

.row
  .columns.grid12.multibrand-description
    %p= ExtraInfo.first.b2b.html_safe

.row
  .columns.grid12
    .row
      .title Formulário
    %hr
    = simple_form_for B2b.new do |f|
      .row
        .columns.grid12
          .columns.grid6
            .row.brand_info
              .columns.grid12
                .row
                  .title.sub Sobre a Marca
                .row
                  = f.text_field :brand_name, placeholder: "digite o nome da marca"
                  = f.text_field :business_name, placeholder: "digite a razão social"
                  = f.text_field :cnpj, placeholder: "digite o CNPJ"
                  = f.text_field :business_phone, placeholder: "digite o telefone"
          .columns.grid6
            .row.contact_info
              .columns.grid12
                .row
                  .title.sub Sobre o Contato
                .row
                  = f.text_field :contact_email, placeholder: "digite o e-mail de contato"
                  = f.text_field :contact_name, placeholder: "digite o nome para contato"
                  = f.text_field :contact_phone, placeholder: "digite o telefone do contato"
      .row
        .columns.grid2.offset10
          = f.submit "Enviar", class: "btn btn-inverse"