!!!
%html
	%head
		%title
			- custom_title = yield(:title)
			- if custom_title == ""
				= "704 HOME"
			- else
				= "704 HOME - #{yield(:title)}"
		%meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
		= favicon_link_tag "favicon.ico"
		= stylesheet_link_tag "application", media: 'all'
		= stylesheet_link_tag "//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
		= javascript_include_tag "application"
		= csrf_meta_tag
		= yield(:head)

	%body

		- unless Rails.env.development?
			- if session[:contact_success]
				= render partial: 'outsiders/contact_conversion'
				- session[:contact_success] = nil
			= render partial: 'outsiders/remarketing'
			= render partial: 'outsiders/remarketing_facebook'
			= render partial: 'outsiders/facebook'
			= render partial: 'outsiders/analytics'
			- if @thanks
				= render partial: 'outsiders/gacommerce', handlers: [:erb]

		%header.row
			= render 'shared/header'
		.row
			#container
				- flash.each do |name, msg|
					= content_tag :div, msg, :class => "flash_message flash_#{name}"

				- if show_title?
					%h1= yield(:title)

				= yield
		= render 'shared/modal'
		- if @thanks
			= render 'shared/thanks_modal'
		%footer
			= render 'shared/footer'
