%p= "Seja bem vindo #{@email}!"
%p Você pode confirmar o e-mail da sua conta através do link abaixo:
%p= link_to 'Confirmar minha conta', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
