%p= "Olá #{@resource.name}!"
%p Alguém solicitou uma troca de senha para sua conta do 704home. Você pode fazer isso através do link abaixo.
%p= link_to 'Trocar minha senha', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
%p Se você não requisitou esta mudança, por favor ignore este e-mail.
%p Sua senha não será alterada até que você acesse o link acima e crie uma nova.
