%p= "Olá #{@resource.name}!"
%p Sua conta foi trancada devido a um número excessivo de tentativas de acesso.
%p Clique no link abaixo para destrancar sua conta:
%p= link_to 'Unlock my account', unlock_url(@resource, :unlock_token => @resource.unlock_token)
Olá Priscila!

Alguém solicitou uma troca de senha para a sua conta do 704home (colocar apenas “sua conta 704 Home”) . Você pode fazer isso através do link abaixo.

Change my password (trocar por “Trocar minha senha”)

Se você não requisitou esta mudança, por favor ignore este e-mail.

Sua senha não será alterada até que você acesse o link acima e crie uma nova.
