<script type="text/javascript">
  ga('require', 'ecommerce');

  ga('ecommerce:addTransaction', {
    'id': '<%= params[:t] %>',                     // Transaction ID. Required.
    'affiliation': '704 Home',   // Affiliation or store name.
    'revenue': '<%= params[:r] %>',               // Grand Total.
    'shipping': '13.00',                  // Shipping.
    'tax': '0',                     // Tax.
    'currency': 'BRL'
  });

  ga('ecommerce:send');
</script>
