<!-- Código do Google para tag de remarketing -->
<!--
  As tags de remarketing não podem ser associadas a informações pessoais de identificação nem inseridas em páginas relacionadas a categorias de confidencialidade. Veja mais informações e instruções sobre como configurar a tag em: http://google.com/ads/remarketingsetup
-->
<script>
  /* <![CDATA[ */
  var google_conversion_id = 973402256;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script src='//www.googleadservices.com/pagead/conversion.js' type='text/javascript'>
  /* <![CDATA[ */
  /* ]]> */
</script>
<noscript>
  <div style='display:inline;'>
    <img alt='' height='1' src='//googleads.g.doubleclick.net/pagead/viewthroughconversion/973402256/?value=0&amp;guid=ON&amp;script=0' style='border-style:none;' width='1'>
  </div>
</noscript>
