.row.forgot_password
  .grid12.columns
    .padding40
      .row
        .grid12.columns
          .title Editar conta
      .row
        .grid12.columns
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, remote: true) do |f|
            = f.error_notification
            = f.email_field :email, required: true, placeholder: "digite seu email"
            = f.text_field :name, required: true, placeholder: "digite seu nome"
            = f.text_field :cpf, required: true, placeholder: "digite seu CPF"
            = f.button :submit, "ATUALIZAR CONTA"

= javascript_include_tag 'header/new_user_errors_and_alerts.js'
