.row.new_user_registration
	.grid6.columns
		.padding40
			= render 'users/sessions/new'
	.grid6.columns
		.padding40
			.title= "AINDA NÃO É CLIENTE 704 HOME"
			= simple_form_for(resource, :as => resource_name, :url => "#{registration_path(resource_name)}?after_login_path=#{params[:after_login_path]}&after_login_method=#{params[:after_login_method]}", remote: true) do |f|
				= f.error_notification
				= f.text_field :name, placeholder: "digite seu nome"
				= f.text_field :cpf, placeholder: "digite seu cpf"
				= f.text_field :email, placeholder: "digite seu email"
				= f.password_field :password, placeholder: "digite sua senha"
				= f.password_field :password_confirmation, placeholder: "redigite sua senha"
				= f.check_box :newsletter, cheked: true
				= f.label :newsletter do
					%span.bg
					Deseja assinar nossa newsletter?
					%span.icon-ok
				= f.button :submit, "ENVIAR", style: 'margin-top: 9px;'
	.dividing_line

= javascript_include_tag 'header/new_user_errors_and_alerts.js'
